<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>企业信息 | 点石成金</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<js href='__PUBLIC__/js/jquery-1.26.js' />
<js href='__PUBLIC__/js/jquery.drag.js' />
<js href='__PUBLIC__/js/fn.js' />
<js href='__PUBLIC__/js/all.js' />
<js href='__PUBLIC__/js/cv_mod.js' />
<js href='__PUBLIC__/js/newapplyinfo.js' />
<js href='__PUBLIC__/js/companyinfo.js' />
<css href="__PUBLIC__/css/core.css" />
<css href="__PUBLIC__/css/style.css" />
<css href="__PUBLIC__/css/cv.css" />

<!--[if lt IE 7]>
<script>var file_root = '/';</script>
<script type="text/javascript" src="/js/unitpngfix.js"></script>
<![endif]--><!--<script>
    	//数组最后一个为样式中默认的　#indexpage
    	var homeimgbg=['/img/hbg2.jpg','/img/hbg3.jpg','/img/hbg1.jpg'];
    </script>-->


</head>
<body id="index">
<div class="wrap">
  <div class="header_wrap">
    <div class="head">
      <div class="logo_area">
        <h1 class="logo"><a href="#" class="txt">金点</a></h1>
      </div>
      <div class="menu_area">
        <ul class="menu_list">
          <li class=" "><!--添加类名 current 显示隐藏子菜单--> 
            <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">Next Idea</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- list列表-->
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf" id="contentHighSet">
      <!--base start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>公司信息<a name="CPI"></a><span class="Cpispan_r"></span></td>
          <td align="right"><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_shrink.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none;" id="BPI_hidden"/><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_spread.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none" id="BPI_show"/></td>
        </tr>
      </table>
      <div id="BPI_info" class="BPI_info"> 
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf">
          <tr>
            <td  rowspan="3" width="120px" height="160px">
			<div id="preview">  
					<img id="imghead" width='120px' height="160px"  src='__ROOT__/Uploads/Photo/<{$result.photo}>'>  
				</div>
              <input type="file" value="" class="imgfile" name="fileToUpload"  id="fileToUpload" style="width:120px" onchange="previewImage(this)" />

              </td>
            <td align="left" class="col_name">公&nbsp;&nbsp;司&nbsp;&nbsp;名&nbsp;&nbsp;</td>
            <td ><label>
              
                <input type="text" onBlur="checkinputstr('Name','er_name')" class="CompanyName input400" id="CompanyName" value="<{$result.name}>" maxlength="20" name="CompanyName" placeholder="公司名"/>
              
              </label></td>
                      </tr>
          <tr>
            <td class="col_name">办公地址 </td>
            <td><input name="Offic" type="text" class="Offic input400" id="Offic" value="<{$result.address}>" placeholder="办公地址" /></td>
          </tr>
          <tr>
            <td  class="col_name">网&nbsp;&nbsp;&nbsp;&nbsp;址</td>
            <td valign="middle">
                <input id="URL" name="URL"  class="URL input400"onBlur="checkinputstr('phone','er_phone')" maxlength="20"  value="<{$result.website}>" type="text" placeholder="例如：dianshichengjin@dscj.com"  />
              </td>
          </tr>
          
          <tr>
            <td  class="col_name">领&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域</td>
            <td colspan="2"><select  name="Field" id="Field">
                <OPTION VALUE=1 <if condition='$result.field eq 1'> selected</if> >公司金融服务</OPTION>
                <OPTION VALUE=2 <if condition='$result.field eq 2'> selected</if> >一级市场投资分析</OPTION>
                <OPTION VALUE=3 <if condition='$result.field eq 3'> selected</if> >二级市场研究、交易、投资</OPTION>
                <OPTION VALUE=4 <if condition='$result.field eq 4'> selected</if> >券商销售</OPTION>
              </select></td>
          </tr>
          <tr>
            <td colspan="3" class=""><div id="finServ" style="display:block" > <span class="btn_pic btn_pic_span"><a>股权</a></span> <span class="btn_pic btn_pic_span"><a>债券</a></span> <span class="btn_pic btn_pic_span"><a>并购</a></span> <span class="btn_pic btn_pic_span"><a>ECM</a></span> <span class="btn_pic btn_pic_span"><a>DCM</a></span> </div>
              <div  id="oneInvest" style="display:none" > <span class="btn_pic btn_pic_span"><a>PE</a></span> <span class="btn_pic btn_pic_span"><a>VC</a></span> <span class="btn_pic btn_pic_span"><a>信托</a></span> <span class="btn_pic btn_pic_span"><a>其他投资机构</a></span> </div>
              <div  id="twoInvest" style="display:none" > <span class="btn_pic btn_pic_span"><a>卖方研究</a></span> <span class="btn_pic btn_pic_span"><a>公募基金</a></span> <span class="btn_pic btn_pic_span"><a>私募基金</a></span> <span class="btn_pic btn_pic_span"><a>信托</a></span> <span class="btn_pic btn_pic_span"><a>资管</a></span> <span class="btn_pic btn_pic_span"><a>券商自营</a></span> <span class="btn_pic btn_pic_span"><a>银行金融市场</a></span> <span class="btn_pic btn_pic_span"><a>其他投资机构</a></span> </div>
              <div id="sales" style="display:none" > <span class="btn_pic btn_pic_span"><a>股票</a></span> <span class="btn_pic btn_pic_span"><a>债券</a></span> <span class="btn_pic btn_pic_span"><a>外汇</a></span> <span class="btn_pic btn_pic_span"><a>商品</a></span> <span class="btn_pic btn_pic_span"><a>量化</a></span> </div></td>
          </tr>
           <tr>
            <td class="col_name">规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模</td>
            <td  valign="middle"><select  name="PersonNum" class="PersonNum" id="PersonNum" placeholder="公司人数">
                <OPTION VALUE=1  <if condition='$result.scale_people eq 1'> selected</if>  >30人以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.scale_people eq 2'> selected</if> >30～100人</OPTION>
                <OPTION VALUE=3 <if condition='$result.scale_people eq 3'> selected</if> >100～500人</OPTION>
                <OPTION VALUE=4 <if condition='$result.scale_people eq 4'> selected</if> >500～1000人以上</OPTION>
                <OPTION VALUE=5 <if condition='$result.scale_people eq 5'> selected</if> >1000人以上</OPTION>
                </select></td>
            <td valign="middle"><select  name="Asset" id="Asset" placeholder="公司资产">
                <OPTION VALUE=1 <if condition='$result.scale_bankroll eq 1'> selected</if> >100万以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.scale_bankroll eq 2'> selected</if> >100万～1000万</OPTION>
                <OPTION VALUE=3 <if condition='$result.scale_bankroll eq 3'> selected</if> >1000万～1亿</OPTION>
                <OPTION VALUE=4 <if condition='$result.scale_bankroll eq 4'> selected</if> >1亿～100亿</OPTION>
                <OPTION VALUE=5 <if condition='$result.scale_bankroll eq 5'> selected</if> >1000亿～1000亿</OPTION>
                <OPTION VALUE=6 <if condition='$result.scale_bankroll eq 6'> selected</if> >1000亿以上</OPTION>
                </select></td>
            
          </tr>
          <tr>
                <td colspan="3" class="col_name" style="text-align:left;">公司介绍</td>
              </tr>
              <tr>
                <td colspan="3"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight700 CompanyIntro"  name="CompanyIntro"  id="CompanyIntro" placeholder="例如：清波资产是一家宏观对冲基金，强调大类资产配置和周期轮动..."><{$result.introduction}></textarea>
                      </div>
                  </div></td>
              </tr>
            <tr>
                <td colspan="3" class="col_name" style="text-align:left;">公司优势</td>
              </tr>
              <tr>
                <td colspan="3"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight700 CompanyAdvan"  name="CompanyAdvan" id="CompanyAdvan" placeholder="例如：：工作环境优越，待遇极为优厚，管理扁平透明..."><{$result.advantage}></textarea>
                      </div>
                  </div></td>
              </tr>
              
              <tr>
                <td colspan="3" class="col_name" style="text-align:left;">业内评价</td>
              </tr>
              <tr>
                <td colspan="3"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight700 CompanyEval"  name="CompanyEval" id="CompanyEval" placeholder="例如：投资理念领先，视野广，业绩--有疑问的看他们的净值吧..."><{$result.evaluation}></textarea>
                      </div>
                  </div></td>
              </tr>
          
         
          <tr><!--保存按钮-->
            <td colspan="5" align="left" style="text-align:right;"><input class="btn_pic" type="button" name="imgfile" id="imgfile" onclick="submitCompanyInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
        </table>
        </div>
      <!--CompanyBase end--> 
        
    </ul>
    <ul class="rew_conr rew_conr_mdf" id="contentHighSetLeft">
    
     <li class="big_btn_resume btn_resume_mdf" style="width:auto;margin-left:0">
        <div class="icon_width icon_width_mdf" style="margin-right:10px;"> <span class="text_red">&nbsp;&nbsp;></span> <a href="#CPI">&nbsp;&nbsp;公司信息</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Other_Complete" style="display:none;margin-left:-2px;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Other_Incomplete" style="display:block; margin-left:-2px;" /> 
        </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="/dscj/Project/Home/View/CompanyInformation/companyinfo_startRec.html">开始招聘</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Other_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Other_Incomplete" style="display:block;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/dscj/Project/Home/View/CompanyInformation/worklist.html">职位列表</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Edu_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Edu_Incomplete" style="display:block;" /> </li>
      </ul>
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <div class="footer">
    <div class="block">
      <div class="Lcontent">
        <dl>
          <dt>
            <h3>合作伙伴</h3>
          </dt>
          <dd>
            <p style="display:none;"><a href="http://www.weather.com.cn/wzfw/gywm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/lxwm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/sybz/">帮助</a><a href="http://www.weather.com.cn/wzfw/ryzp/">合作伙伴</a></p>
          </dd>
        </dl>
        <div class="clear"></div>
      </div>
      <div class="serviceinfo">
        <p><span><a href="#">清波科技有限公司</a></span></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--foot-->
  
  <div class="footer_wrap">
    <div class="links"> <a target="blank" href="#">关于金点</a> <span>|</span> <a target="blank" href="#">服务条款</a> <span>|</span> <a target="blank" href="#">广告服务</a> <span>|</span> <a target="blank" href="#">联系方式</a> <span>|</span> <a target="blank" href="#">加入我们</a> </div>
    <div class="copyright">Copyright &copy; 1998 - 2014 #. All Rights Reserved.</div>
  </div>
  <script type="text/javascript">
	    if(typeof(pgvMain)=='function')
	        pgvMain();
    </script></div>
</body>
</html>