<include file='Public/header' />
<js href='__PUBLIC__/js/jquery-1.26.js' />
<js href='__PUBLIC__/js/jquery.drag.js' />
<js href='__PUBLIC__/js/fn.js' />
<js href='__PUBLIC__/js/all.js' />
<js href='__PUBLIC__/js/cv_mod.js' />
<js href='__PUBLIC__/js/newapplyinfo.js' />
<js href='__PUBLIC__/js/companyinfo.js' />
<css href="__PUBLIC__/css/core.css" />
<css href="__PUBLIC__/css/style.css" />
<css href="__PUBLIC__/css/cv.css" />

  <!-- list列表-->
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf" id="contentHighSet">
          
      <!--NewJJob start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>发布新的职位<a name="SRI"/><span class="Bpispan_r" ></span></td>
		  <input type='hidden' name='id' id='ID' value="<{$result.id}>">
        </tr>
      </table>
      <div id="Other_info"  class="Other_info" style="display:"> 
     
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
          <tr>
                <td class="col_name">部&nbsp;&nbsp;&nbsp;&nbsp;门</td>
                <td colspan="2"><input class="Department" type="text" id="Department" value="<{$result.department}>" maxlength="60" name="Department" placeholder="例如：研究部"/></td>
                <td class="col_name">职&nbsp;&nbsp;&nbsp;&nbsp;位</td>
                <td colspan="2"><input type="text" class="Job" id="Job" value="<{$result.position}>" maxlength="60" name="Job" placeholder="例如：分析师"/></td>
              </tr>
              <tr>
                <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
                <td colspan="2"><select  name="Pay" class="Pay" id="Pay">
                <OPTION VALUE=1 <if condition='$result.pay eq 1'> selected</if> >5万以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.pay eq 2'> selected</if> >5～6万</OPTION>
                <OPTION VALUE=3 <if condition='$result.pay eq 3'> selected</if> >5～8万</OPTION>
                <OPTION VALUE=4 <if condition='$result.pay eq 4'> selected</if> >8～10万</OPTION>
                <OPTION VALUE=5 <if condition='$result.pay eq 5'> selected</if> >10～15万</OPTION>
                <OPTION VALUE=6 <if condition='$result.pay eq 6'> selected</if> >15～20万</OPTION>
                <OPTION VALUE=7 <if condition='$result.pay eq 7'> selected</if> >20～30万</OPTION>
                <OPTION VALUE=8 <if condition='$result.pay eq 8'> selected</if> >30～50万</OPTION>
              </select></td>
                <td class="col_name">工作地点</td>
                <td colspan="2"><input type="text" class="WorkPlace" id="WorkPlace" value="<{$result.work_addre}>" maxlength="60" name="WorkPlace" placeholder="例如：杭州"/>                </td>
              </tr>
              <tr>
            <td class="col_name" colspan="2">工作方向</td>
            <td colspan="4" valign="middle"><input type="text" class="JobDirec input393" onBlur="checkinputstr('Name','er_name')"  id="JobDirec" value="<{$result.work_direction}>" maxlength="100" name="JobDirec" placeholder="例如：欧洲宏观经济研究"/></td>
          </tr>
          
          <tr>
                <td colspan="6" class="col_name" style="text-align:left;">职位具体描述</td>
              </tr>
              <tr>
                <td colspan="6"><div class="del_exp">
                    <div class="Exper">
                      <textarea  class="weight600 JobDetail"  name="JobDetail" id="JobDetail" placeholder="例如：：负责建立欧洲区域经济模型"><{$result.description}></textarea>
                      </div>
                  </div></td>
              </tr>
              
              <tr>
                <td colspan="6" class="col_name" style="text-align:left;">职位要求</td>
              </tr>
              
              <tr>
                <td colspan="6"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight600 JobRequire"  name="JobRequire" id="JobRequire" placeholder="例如：对经济运行基本逻辑的理解..."><{$result.requirement}></textarea>
                      </div>
                  </div></td>
              </tr>
              
              
              <tr>
                <td class="col_name">联系人</td>
                <td colspan="2"><input class="Contacts" type="text" id="Contacts" value="<{$result.contact}>" maxlength="60" name="Contacts" placeholder="例如：John"/></td>
                <td class="col_name">联系方式</td>
                <td colspan="2"><input type="text" class="ContactWay" id="ContactWay" value="<{$result.contact_information}>" maxlength="60" name="ContactWay" placeholder="例如：18500010002"/></td>
              </tr>
              <tr>
                <td class="col_name">预计招聘人数</td>
                <td colspan="2"><input type="text" style="float:left;" class="RecNum" id="RecNum" value="<{$result.number}>" maxlength="60" name="RecNum" placeholder="例如：2"/><p >&nbsp;名</p></td>
                <td class="col_name">接受简历数量</td>
                <td colspan="2"><input type="text" style="float:left;" class="ReceiveNum" id="ReceiveNum" value="<{$result.accept_number}>" maxlength="60" name="ReceiveNum" placeholder="例如：20"/><p >&nbsp;份</p> </td>
              </tr>
          <tr><!--保存按钮-->
            <td colspan="7"  style="text-align:right;"><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="submitAllCompanyInfo();"  value="保存" /><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="startRecruit();"  value="开始招聘" /><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="endRecruit();"  value="结束招聘" /></td>
          </tr>
        </table>
       
      </div>
      <!--OTHER end--> 
       
    
    </ul>
    <include file='Public/com_menu' />
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <include file='Public/footer' />