
<js href='__PUBLIC__/js/jquery-1.8.2.js' />
<js href='__PUBLIC__/js/jquery.drag.js' />
<js href='__PUBLIC__/js/fn.js' />
<js href='__PUBLIC__/js/all.js' />
<js href='__PUBLIC__/js/cv_mod.js' />
<js href='__PUBLIC__/js/newapplyinfo.js' />
<js href='__PUBLIC__/js/companyinfo.js' />
<css href="__PUBLIC__/css/core.css" />
<css href="__PUBLIC__/css/style.css" />
<css href="__PUBLIC__/css/cv.css" />
<include file='Public/header' />
  <!-- list列表-->
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf" id="contentHighSet">
      <!--base start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>公司信息<a name="CPI"></a><span class="Cpispan_r"></span></td>
          <td align="right"><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_shrink.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none;" id="BPI_hidden"/><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_spread.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none" id="BPI_show"/></td>
        </tr>
      </table>
      <div id="BPI_info" class="BPI_info"> 
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf">
          <tr>
            <td  rowspan="3" width="120px" height="160px">
			<div id="preview">  
					<img id="imghead" width='120px' height="160px"  src='__ROOT__/Uploads/Photo/<{$result.photo}>'>  
				</div>
              <input type="file" value="" class="imgfile" name="fileToUpload"  id="fileToUpload" style="width:120px" onchange="previewImage(this)" />

              </td>
            <td align="left" class="col_name">公&nbsp;&nbsp;司&nbsp;&nbsp;名&nbsp;&nbsp;</td>
            <td ><label>
              
                <input type="text" onBlur="checkinputstr('Name','er_name')" class="CompanyName input400" id="CompanyName" value="<{$result.name}>" maxlength="20" name="CompanyName" placeholder="公司名"/>
              
              </label></td>
                      </tr>
          <tr>
            <td class="col_name">办公地址 </td>
            <td><input name="Offic" type="text" class="Offic input400" id="Offic" value="<{$result.address}>" placeholder="办公地址" /></td>
          </tr>
          <tr>
            <td  class="col_name">网&nbsp;&nbsp;&nbsp;&nbsp;址</td>
            <td valign="middle">
                <input id="URL" name="URL"  class="URL input400"onBlur="checkinputstr('phone','er_phone')" maxlength="20"  value="<{$result.website}>" type="text" placeholder="例如：dianshichengjin@dscj.com"  />
              </td>
          </tr>
          


          <tr>
            <td colspan=""  class="col_name">领&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域</td>
            <td colspan="5"><div id="Field" name="Field" style="display:block" >
				<span class="btn_dir_span touzi_span <php>if( strpos($result['field'],'投资银行业务')!==false ) echo  'touzi_span_selected' ;</php>">投资银行业务</span>
                <span class="btn_dir_span yiji_span <php>if( strpos($result['field'],'一级市场投资分析') ) echo  'yiji_span_selected' ;</php>">一级市场投资分析</span>
                <span class="btn_dir_span erji_span <php>if( strpos($result['field'],'二级市场研究、交易、投资') ) echo  'erji_span_selected' ;</php>" style="line-height:20px;">二级市场研究、交易、投资</span>
                <span class="btn_dir_span quanshang_span <php>if( strpos($result['field'],'券商销售') ) echo  'quanshang_span_selected' ;</php>">券商销售</span>
              </div></td>
          </tr>
          <tr>
            <td colspan="7" class="">
            <div class="span_title touzi_div" <php>if( strpos($result['field'],'投资银行业务')===false ) echo  'style="display:none"' ;</php>><span class="Tpispan_l" ></span>投资银行业务<span class="Tpispan_r" ></span>
            <div id="finServ" > 
			<span class="btn_pic btn_pic_span touzi_btn_pic <php>if( strpos($result['field'],'股权')) echo  'span_selected touzi_more_span_selected' ;</php>">股权</span> 
			<span class="btn_pic btn_pic_span touzi_btn_pic <php>if( strpos($result['field'],'债券')) echo  'span_selected touzi_more_span_selected' ;</php>">债券</span> 
			<span class="btn_pic btn_pic_span touzi_btn_pic <php>if( strpos($result['field'],'并购') ) echo  'span_selected touzi_more_span_selected' ;</php>">并购</span> 
			<span class="btn_pic btn_pic_span touzi_btn_pic <php>if( strpos($result['field'],'ECM') ) echo  'span_selected touzi_more_span_selected' ;</php>">ECM</span> 
			<span class="btn_pic btn_pic_span touzi_btn_pic <php>if( strpos($result['field'],'DCM') ) echo  'span_selected touzi_more_span_selected' ;</php>">DCM</span> 
            </div></div>
             
             <div class="span_title yiji_div" <php>if( !strpos($result['field'],'一级市场投资分析') ) echo  'style="display:none"' ;</php>><span class="Tpispan_l" style="width:222px;"></span>一级市场投资分析<span class="Tpispan_r" style="width:217px;" ></span>
              <div  id="oneInvest"  >
			   <span class="btn_pic btn_pic_span yiji_btn_pic <php>if( strpos($result['field'],'PE') ) echo  'span_selected yiji_more_span_selected' ;</php>">PE</span> 
				<span class="btn_pic btn_pic_span yiji_btn_pic <php>if( strpos($result['field'],'VC') ) echo  'span_selected yiji_more_span_selected' ;</php>">VC</span> 
				<span class="btn_pic btn_pic_span yiji_btn_pic <php>if( strpos($result['field'],'信托') ) echo  'span_selected yiji_more_span_selected' ;</php>">信托</span> 
				<span class="btn_pic btn_pic_span yiji_btn_pic <php>if( strpos($result['field'],'其他投资机构') ) echo  'span_selected yiji_more_span_selected' ;</php>">其他投资机构</span> 
               </div></div>
              
              <div class="span_title erji_div" <php>if( !strpos($result['field'],'二级市场研究、交易、投资') ) echo  'style="display:none"' ;</php>><span class="Tpispan_l" style="width:200px;"></span>二级市场研究、交易、投资<span class="Tpispan_r" style="width:185px;"></span>
               
              <table border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td><span class="btn_erji_span">按机构:</span></td>
              <td><div  id="twoInvest" >
			  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'卖方研究') ) echo  'span_selected erji_jg_span_selected' ;</php>">卖方研究</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'公募基金') ) echo  'span_selected erji_jg_span_selected' ;</php>">公募基金</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'私募基金') ) echo  'span_selected erji_jg_span_selected' ;</php>">私募基金</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'信托') ) echo  'span_selected erji_jg_span_selected' ;</php>">信托</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'资管') ) echo  'span_selected erji_jg_span_selected' ;</php>">资管</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'券商自营') ) echo  'span_selected erji_jg_span_selected' ;</php>">券商自营</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'银行金融市场') ) echo  'span_selected erji_jg_span_selected' ;</php>">银行金融市场</span> 
				  <span class="btn_pic btn_pic_span erji_jg_btn_pic <php>if( strpos($result['field'],'其他投资机构') ) echo  'span_selected erji_jg_span_selected' ;</php>">其他投资机构</span>
              </td>
              </tr>
              <tr>
              <td><span class="btn_erji_span">按资产：</span></td>
              <td><div>
			  <span class="btn_pic btn_pic_span erji_zc_btn_pic <php>if( strpos($result['field'],'股票') ) echo  'span_selected erji_zc_span_selected' ;</php>">股票</span> 
			  <span class="btn_pic btn_pic_span erji_zc_btn_pic <php>if( strpos($result['field'],'债券') ) echo  'span_selected erji_zc_span_selected' ;</php>">债券</span> 
			  <span class="btn_pic btn_pic_span erji_zc_btn_pic <php>if( strpos($result['field'],'期货') ) echo  'span_selected erji_zc_span_selected' ;</php>">期货</span> 
			  <span class="btn_pic btn_pic_span erji_zc_btn_pic <php>if( strpos($result['field'],'外汇') ) echo  'span_selected erji_zc_span_selected' ;</php>">外汇</span> 
			  <span class="btn_pic btn_pic_span erji_zc_btn_pic <php>if( strpos($result['field'],'量化') ) echo  'span_selected erji_zc_span_selected' ;</php>">量化</span> 
			  <span class="btn_pic btn_pic_span erji_zc_btn_pic <php>if( strpos($result['field'],'其他金融资产') ) echo  'span_selected erji_zc_span_selected' ;</php>">其他金融资产</span> 
              </div>
              <td>
               </tr>
               </table>
               </div>
              
              <div class="span_title quanshang_div" <php>if( !strpos($result['field'],'券商销售') ) echo  'style="display:none"' ;</php>><span class="Tpispan_l" style="width:244px;"></span>券商销售<span class="Tpispan_r" style="width:244px;"></span>
              <div id="sales"> 
			  <span class="btn_pic btn_pic_span quanshang_btn_pic <php>if( strpos($result['field'],'股票') ) echo  'span_selected quanshang_more_span_selected' ;</php>">股票</span> 
				<span class="btn_pic btn_pic_span quanshang_btn_pic <php>if( strpos($result['field'],'债券') ) echo  'span_selected quanshang_more_span_selected' ;</php>">债券</span> 
              </div>
              </div>
              </td>
          </tr>
           <tr>
            <td class="col_name">规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模</td>
            <td  valign="middle"><select  name="PersonNum" class="PersonNum" id="PersonNum" placeholder="公司人数">
                <OPTION VALUE=1  <if condition='$result.scale_people eq 1'> selected</if>  >30人以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.scale_people eq 2'> selected</if> >30～100人</OPTION>
                <OPTION VALUE=3 <if condition='$result.scale_people eq 3'> selected</if> >100～500人</OPTION>
                <OPTION VALUE=4 <if condition='$result.scale_people eq 4'> selected</if> >500～1000人以上</OPTION>
                <OPTION VALUE=5 <if condition='$result.scale_people eq 5'> selected</if> >1000人以上</OPTION>
                </select></td>
            <td valign="middle"><select  name="Asset" id="Asset" placeholder="公司资产">
                <OPTION VALUE=1 <if condition='$result.scale_bankroll eq 1'> selected</if> >100万以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.scale_bankroll eq 2'> selected</if> >100万～1000万</OPTION>
                <OPTION VALUE=3 <if condition='$result.scale_bankroll eq 3'> selected</if> >1000万～1亿</OPTION>
                <OPTION VALUE=4 <if condition='$result.scale_bankroll eq 4'> selected</if> >1亿～100亿</OPTION>
                <OPTION VALUE=5 <if condition='$result.scale_bankroll eq 5'> selected</if> >1000亿～1000亿</OPTION>
                <OPTION VALUE=6 <if condition='$result.scale_bankroll eq 6'> selected</if> >1000亿以上</OPTION>
                </select></td>
            
          </tr>
          <tr>
                <td colspan="3" class="col_name" style="text-align:left;">公司介绍</td>
              </tr>
              <tr>
                <td colspan="3"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight700 CompanyIntro"  name="CompanyIntro"  id="CompanyIntro" placeholder="例如：清波资产是一家宏观对冲基金，强调大类资产配置和周期轮动..."><{$result.introduction}></textarea>
                      </div>
                  </div></td>
              </tr>
            <tr>
                <td colspan="3" class="col_name" style="text-align:left;">公司优势</td>
              </tr>
              <tr>
                <td colspan="3"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight700 CompanyAdvan"  name="CompanyAdvan" id="CompanyAdvan" placeholder="例如：：工作环境优越，待遇极为优厚，管理扁平透明..."><{$result.advantage}></textarea>
                      </div>
                  </div></td>
              </tr>
              
              <tr>
                <td colspan="3" class="col_name" style="text-align:left;">业内评价</td>
              </tr>
              <tr>
                <td colspan="3"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight700 CompanyEval"  name="CompanyEval" id="CompanyEval" placeholder="例如：投资理念领先，视野广，业绩--有疑问的看他们的净值吧..."><{$result.evaluation}></textarea>
                      </div>
                  </div></td>
              </tr>
          
         
          <tr><!--保存按钮-->
            <td colspan="5" align="left" style="text-align:right;"><input class="btn_pic" type="button" name="imgfile" id="imgfile" onclick="submitCompanyInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
        </table>
        </div>
      <!--CompanyBase end--> 
        
    </ul>
    <include file='Public/com_menu' />
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <include file='Public/footer' />