<div id="Other_info"  class="Other_info" style="display:">
        <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
          <tr>
            <td><span class="Bpispan_l" ></span>面试邀请<a name="SRI"/><span class="Bpispan_r" ></span></td>
          </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
          <tr>
            <td class="col_name">部&nbsp;&nbsp;&nbsp;&nbsp;门</td>
            <td colspan="2"><input class="Department" type="text" id="Department" value="" maxlength="60" name="Department" placeholder="例如：研究部" disabled/></td>
            <td class="col_name">职&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td colspan="2"><input type="text" class="Job" id="Job" value="" maxlength="60" name="Job" placeholder="例如：分析师"/></td>
          </tr>
          <tr>
            <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
            <td colspan="2"><select  name="Pay" class="Pay" id="Pay">
                <OPTION VALUE=1 Selected>5万以下</OPTION>
                <OPTION VALUE=2>5～6万</OPTION>
                <OPTION VALUE=3>5～8万</OPTION>
                <OPTION VALUE=4>8～10万</OPTION>
                <OPTION VALUE=5 >10～15万</OPTION>
                <OPTION VALUE=6 >15～20万</OPTION>
                <OPTION VALUE=7 >20～30万</OPTION>
                <OPTION VALUE=8 >30～50万</OPTION>
              </select></td>
            <td class="col_name">工作地点</td>
            <td colspan="2"><input type="text" class="WorkPlace" id="WorkPlace" value="" maxlength="60" name="WorkPlace" placeholder="例如：杭州"/></td>
          </tr>
          <tr>
            <td class="col_name" colspan="2">工作方向</td>
            <td colspan="4" valign="middle"><input type="text" class="JobDirec input393" onBlur="checkinputstr('Name','er_name')"  id="JobDirec" value="" maxlength="100" name="JobDirec" placeholder="例如：欧洲宏观经济研究"/></td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6" class="col_name hide_detail" style="text-align:left; ">职位具体描述</td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6"><div class="del_exp">
                <div class="Exper">
                  <textarea  class="weight600 JobDetail"  name="JobDetail" id="JobDetail" placeholder="例如：：负责建立欧洲区域经济模型"></textarea>
                </div>
              </div></td>
          </tr>
          <tr  class="hide_detail" style=" display:none;">
            <td colspan="6" class="col_name hide_detail" style="text-align:left;">职位要求</td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6"><div class="del_exp">
                <div class="Exper">
                  <textarea rows="6" class="weight600 JobRequire"  name="JobRequire" id="JobRequire" placeholder="例如：对经济运行基本逻辑的理解..."></textarea>
                </div>
              </div></td>
          </tr>
          <tr ><!--下拉-->
            <td colspan="6" style="text-align:right;"><div class="down_btn spread_detail"> <img src="/dscj/Public/images/down.jpg"/></div>
              <div style="display:none;" class="up_btn unspread_detail"> <img src="/dscj/Public/images/up.jpg"/></div></td>
          </tr>
          <tr ><!--保存按钮-->
            <td colspan="6" class="invite_btn" style=" padding-left:550px;">
            <div class="invite_inner_list invite_cv_send">  <a class="pre_cv">是否接受面试邀请</a> </div>
              <div style="display:none;" class="inner_list_invite"><a class="pre_cv">接受</a> </div>
              <div style="display:none;" class="invite_inner_list notinterest_cv_send"><a>不接受</a> </div>
              </td>
          </tr>
        </table>
        
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
          <tr>
            <td class="col_name">部&nbsp;&nbsp;&nbsp;&nbsp;门</td>
            <td colspan="2"><input class="Department" type="text" id="Department" value="" maxlength="60" name="Department" placeholder="例如：研究部" disabled/></td>
            <td class="col_name">职&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td colspan="2"><input type="text" class="Job" id="Job" value="" maxlength="60" name="Job" placeholder="例如：分析师"/></td>
          </tr>
          <tr>
            <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
            <td colspan="2"><select  name="Pay" class="Pay" id="Pay">
                <OPTION VALUE=1 Selected>5万以下</OPTION>
                <OPTION VALUE=2>5～6万</OPTION>
                <OPTION VALUE=3>5～8万</OPTION>
                <OPTION VALUE=4>8～10万</OPTION>
                <OPTION VALUE=5 >10～15万</OPTION>
                <OPTION VALUE=6 >15～20万</OPTION>
                <OPTION VALUE=7 >20～30万</OPTION>
                <OPTION VALUE=8 >30～50万</OPTION>
              </select></td>
            <td class="col_name">工作地点</td>
            <td colspan="2"><input type="text" class="WorkPlace" id="WorkPlace" value="" maxlength="60" name="WorkPlace" placeholder="例如：杭州"/></td>
          </tr>
          <tr>
            <td class="col_name" colspan="2">工作方向</td>
            <td colspan="4" valign="middle"><input type="text" class="JobDirec input393" onBlur="checkinputstr('Name','er_name')"  id="JobDirec" value="" maxlength="100" name="JobDirec" placeholder="例如：欧洲宏观经济研究"/></td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6" class="col_name hide_detail" style="text-align:left; ">职位具体描述</td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6"><div class="del_exp">
                <div class="Exper">
                  <textarea  class="weight600 JobDetail"  name="JobDetail" id="JobDetail" placeholder="例如：：负责建立欧洲区域经济模型"></textarea>
                </div>
              </div></td>
          </tr>
          <tr  class="hide_detail" style=" display:none;">
            <td colspan="6" class="col_name hide_detail" style="text-align:left;">职位要求</td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6"><div class="del_exp">
                <div class="Exper">
                  <textarea rows="6" class="weight600 JobRequire"  name="JobRequire" id="JobRequire" placeholder="例如：对经济运行基本逻辑的理解..."></textarea>
                </div>
              </div></td>
          </tr>
          <tr ><!--下拉按钮-->
            <td colspan="6" style="text-align:right;"><div class="down_btn spread_detail"> <img src="/dscj/Public/images/down.jpg"/></div>
              <div style="display:none;" class="up_btn unspread_detail"> <img src="/dscj/Public/images/up.jpg"/></div></td>
          </tr>
          <tr ><!--保存按钮-->
            <td colspan="6" class="invite_btn" style=" padding-left:550px;">
            <div class="invite_inner_list invite_cv_send">  <a class="pre_cv">是否接受面试邀请</a> </div>
              <div style="display:none;" class="inner_list_invite"><a class="pre_cv">接受</a> </div>
              <div style="display:none;" class="invite_inner_list notinterest_cv_send"><a>不接受</a> </div>
              </td>
          </tr>
        </table>
      </div>