<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>职位列表 | 企业信息 | 点石成金</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<css href="__PUBLIC__/Css/core.css" />
<css href="__PUBLIC__/Css/style.css" />
<css href="__PUBLIC__/Css/cv.css" />
<css href="__PUBLIC__/Css/worklist.css" />
<css href="__PUBLIC__/Css/preview_cv_table.css" />
<js href='__PUBLIC__/Js/jquery-1.8.2.js' />
<js href='__PUBLIC__/Js/jquery.drag.js' />
<js href='__PUBLIC__/Js/fn.js' />
<js href='__PUBLIC__/Js/all.js' />
<js href='__PUBLIC__/Js/worklist.js' />




<!--[if lt IE 7]>
<script>var file_root = '/';</script>
<script type="text/javascript" src="/js/unitpngfix.js"></script>
<![endif]--><!--<script>
    	//数组最后一个为样式中默认的　#indexpage
    	var homeimgbg=['/img/hbg2.jpg','/img/hbg3.jpg','/img/hbg1.jpg'];
    </script>-->

</head>
<body id="index">
<div class="wrap">
  <div class="header_wrap">
    <div class="head">
      <div class="logo_area">
        <h1 class="logo"><a href="#" class="txt">金点</a></h1>
      </div>
      <div class="menu_area">
        <ul class="menu_list">
          <li class=" "><!--添加类名 current 显示隐藏子菜单--> 
            <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">Next Idea</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- list列表-->
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf" id="contentHighSet">
      <!--NewJJob start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>职位列表<a name="SRI"/><span class="Bpispan_r" ></span></td>
        </tr>
      </table>
      <div class="cv_table" style=" width:100%;">
        
        <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="10" ALIGN="CENTER" WIDTH="750" CLASS="left" style="border:0 none;">
          <TR>
            <TD VALIGN="TOP" BGCOLOR="#FFFFFF"><table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
                <tr bgcolor="#F6F6F6">
                 <td width="145" height="28" align="right">部门： </td>
                  <td class="color17" colspan="1">技术部</td>
                  <td width="145" height="28" align="right">职位： </td>
                  <td class="color17" colspan="1">软件工程师</td>
                  
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">工作地点： </td>
                  <td class="color17" colspan="1">北京</td>
                  <td width="145" height="28" align="right">工作方向： </td>
                  <td class="color17" colspan="1">JAVA</td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">预计招聘人数： </td>
                  <td class="color17" colspan="1">5人</td>
                  <td width="145" height="28" align="right">接受简历数量： </td>
                  <td class="color17" colspan="1">100份</td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">已接收简历数量： </td>
                  <td class="color17" colspan="1">80份</td>
                  <td width="145" height="28" align="right">已浏览简历数量：</td>
                  <td class="color17" colspan="1">60份 </td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">发送面试邀请人数:</td>
                  <td class="color17" colspan="1">20人</td>
                  <td width="145" height="28" align="right">确认参加面试人数：</td>
                  <td class="color17" colspan="1">15人</td>
                </tr>
                <tr><!--保存按钮-->
                  <td colspan="2"  bgcolor="#F6F6F6"><div class="icon_width_mdf_list"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">浏览简历</a> </div></td>
                  <td colspan="2" bgcolor="#F6F6F6"><div class="icon_width_mdf_list icon_width_mdf_detail"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/dscj/Project/Home/View/ApplicantUser/worklist.html" target="_blank">查看职位详情</a> </div></td>
                </tr>
              </table>
              <table width="95%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
              <div  class="hind_table" style="height:180px;  overflow-y:scroll; display:none;">
                <table class="main_table " width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
                  <tr bgcolor="#F6F6F6">
                    <td rowspan="4" align="center"><a href="http://seekersso.chinahr.com/photos/GetImg.aspx?UserId=21401995" target="_blank"><img src="/rec2014/images/cv_img.jpg" alt="" width="90" border="0"></a></td>
                    <td width="145" height="28" align="right">姓名： </td>
                    <td class="color17" colspan="3">汤普森</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">毕业院校： </td>
                    <td class="color17" colspan="3">上海交通大学</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">目前工作： </td>
                    <td class="color17" colspan="3">CITICS研究部分析师</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">工作时间： </td>
                    <td class="color17" colspan="1" >三年</td>
                    <td width="145" height="28" align="right">职级： </td>
                    <td class="color17" colspan="1" >高级经理</td>
                  </tr>
                  <tr><!--保存按钮-->
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/rec2014/preview_cv.html" target="_blank" class="pre_cv">浏览简历</a> </div></td>
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list pre_cv_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">标记为已读</a> </div>
                      <div style="display:none;" class="inner_list_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已读</a> </div></td>
                    <td colspan="2" bgcolor="#F6F6F6"><div class="inner_list pre_cv_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a>发送面试邀请</a> </div>
                      <div style="display:none;" class="inner_list_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已发送</a> </div></td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="10" colspan="5"></td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td rowspan="4" align="center"><a href="http://seekersso.chinahr.com/photos/GetImg.aspx?UserId=21401995" target="_blank"><img src="/rec2014/images/cv_img.jpg" alt="" width="90" border="0"></a></td>
                    <td width="145" height="28" align="right">姓名： </td>
                    <td class="color17" colspan="3">LB</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">毕业院校： </td>
                    <td class="color17" colspan="3">上海交通大学</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">目前工作： </td>
                    <td class="color17" colspan="3">CITICS研究部分析师</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">工作时间： </td>
                    <td class="color17" colspan="1" >三年</td>
                    <td width="145" height="28" align="right">职级： </td>
                    <td class="color17" colspan="1" >高级经理</td>
                  </tr>
                  <tr><!--保存按钮-->
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/rec2014/preview_cv.html" target="_blank" class="pre_cv">浏览简历</a> </div></td>
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list pre_cv_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">标记为已读</a> </div>
                      <div style="display:none;" class="inner_list_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已读</a> </div></td>
                    <td colspan="2" bgcolor="#F6F6F6"><div class="inner_list pre_cv_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a>发送面试邀请</a> </div>
                      <div style="display:none;" class="inner_list_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已发送</a> </div></td>
                  </tr>
                </table>
              </div>
              <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
                
                <tr bgcolor="#F6F6F6">
                <td width="145" height="28" align="right">部门： </td>
                  <td class="color17" colspan="1">市场部</td>
                  <td width="145" height="28" align="right">职位： </td>
                  <td class="color17" colspan="1">软件工程师</td>
                 
                </tr>
                <tr bgcolor="#F6F6F6">
                <td width="145" height="28" align="right">工作地点： </td>
                  <td class="color17" colspan="1">北京</td>
                  <td width="145" height="28" align="right">工作方向： </td>
                  <td class="color17" colspan="1">JAVA</td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">预计招聘人数： </td>
                  <td class="color17" colspan="1">5人</td>
                  <td width="145" height="28" align="right">接受简历数量： </td>
                  <td class="color17" colspan="1">100份</td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">已接收简历数量： </td>
                  <td class="color17" colspan="1">80份</td>
                  <td width="145" height="28" align="right">已浏览简历数量：</td>
                  <td class="color17" colspan="1">60份 </td>
                </tr>
                <tr bgcolor="#F6F6F6">
                  <td width="145" height="28" align="right">发送面试邀请人数:</td>
                  <td class="color17" colspan="1">20人</td>
                  <td width="145" height="28" align="right">确认参加面试人数：</td>
                  <td class="color17" colspan="1">15人</td>
                </tr>
                <tr><!--保存按钮-->
                  <td colspan="2"  bgcolor="#F6F6F6"><div class="icon_width_mdf_list"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">浏览简历</a> </div></td>
                  <td colspan="2" bgcolor="#F6F6F6"><div class="icon_width_mdf_detail"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/dscj/Project/Home/View/ApplicantUser/worklist.html" target="_blank">查看职位详情</a> </div></td>
                </tr>
              </table>
              <table width="95%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
              <div  class="hind_table" style="height:180px;  overflow-y:scroll; display:none;">
                <table class="main_table " width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
                  <tr bgcolor="#F6F6F6">
                    <td rowspan="4" align="center"><a href="http://seekersso.chinahr.com/photos/GetImg.aspx?UserId=21401995" target="_blank"><img src="/rec2014/images/cv_img.jpg" alt="" width="90" border="0"></a></td>
                    <td width="145" height="28" align="right">姓名： </td>
                    <td class="color17" colspan="3">汤普森</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">毕业院校： </td>
                    <td class="color17" colspan="3">上海交通大学</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">目前工作： </td>
                    <td class="color17" colspan="3">CITICS研究部分析师</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">工作时间： </td>
                    <td class="color17" colspan="1" >三年</td>
                    <td width="145" height="28" align="right">职级： </td>
                    <td class="color17" colspan="1" >高级经理</td>
                  </tr>
                  <tr><!--保存按钮-->
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/rec2014/preview_cv.html" target="_blank" class="pre_cv">浏览简历</a> </div></td>
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list pre_cv_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">标记为已读</a> </div>
                      <div style="display:none;" class="inner_list_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已读</a> </div></td>
                    <td colspan="2" bgcolor="#F6F6F6"><div class="inner_list pre_cv_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a>发送面试邀请</a> </div>
                      <div style="display:none;" class="inner_list_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已发送</a> </div></td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="10" colspan="5"></td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td rowspan="4" align="center"><a href="http://seekersso.chinahr.com/photos/GetImg.aspx?UserId=21401995" target="_blank"><img src="/rec2014/images/cv_img.jpg" alt="" width="90" border="0"></a></td>
                    <td width="145" height="28" align="right">姓名： </td>
                    <td class="color17" colspan="3">LB</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">毕业院校： </td>
                    <td class="color17" colspan="3">上海交通大学</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">目前工作： </td>
                    <td class="color17" colspan="3">CITICS研究部分析师</td>
                  </tr>
                  <tr bgcolor="#F6F6F6">
                    <td width="145" height="28" align="right">工作时间： </td>
                    <td class="color17" colspan="1" >三年</td>
                    <td width="145" height="28" align="right">职级： </td>
                    <td class="color17" colspan="1" >高级经理</td>
                  </tr>
                  <tr><!--保存按钮-->
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/rec2014/preview_cv.html" target="_blank"  class="pre_cv">浏览简历</a> </div></td>
                    <td colspan="2"  bgcolor="#F6F6F6"><div class="inner_list pre_cv_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">标记为已读</a> </div>
                      <div style="display:none;" class="inner_list_read"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已读</a> </div></td>
                    <td colspan="2" bgcolor="#F6F6F6"><div class="inner_list pre_cv_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a>发送面试邀请</a> </div>
                      <div style="display:none;" class="inner_list_send"> &nbsp;&nbsp;&nbsp;&nbsp; <a class="pre_cv">已发送</a> </div></td>
                  </tr>
                </table>
              </div>
          </TR>
        </TABLE>
      </div>
      <!--OTHER end-->
      
    </ul>
    <ul class="rew_conr rew_conr_mdf" id="contentHighSetLeft">
      <li class="big_btn_resume btn_resume_mdf" style="width:auto;margin-left:0">
        <div class="icon_width icon_width_mdf" style="margin-right:10px;"> <span class="text_red">&nbsp;&nbsp;></span> <a href="/dscj/Project/Home/View/CompanyInformation/companyinfo.html">&nbsp;&nbsp;公司信息</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Other_Complete" style="display:none;margin-left:-2px;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Other_Incomplete" style="display:block; margin-left:-2px;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="/dscj/Project/Home/View/CompanyInformation/companyinfo_startRec.html">开始招聘</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Other_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Other_Incomplete" style="display:block;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">职位列表</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Edu_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Edu_Incomplete" style="display:block;" /> </li>
    </ul>
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <div class="footer">
    <div class="block">
      <div class="Lcontent">
        <dl>
          <dt>
            <h3>合作伙伴</h3>
          </dt>
          <dd>
            <p style="display:none;"><a href="http://www.weather.com.cn/wzfw/gywm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/lxwm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/sybz/">帮助</a><a href="http://www.weather.com.cn/wzfw/ryzp/">合作伙伴</a></p>
          </dd>
        </dl>
        <div class="clear"></div>
      </div>
      <div class="serviceinfo">
        <p><span><a href="#">清波科技有限公司</a></span></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--foot-->
  
  <div class="footer_wrap">
    <div class="links"> <a target="blank" href="#">关于金点</a> <span>|</span> <a target="blank" href="#">服务条款</a> <span>|</span> <a target="blank" href="#">广告服务</a> <span>|</span> <a target="blank" href="#">联系方式</a> <span>|</span> <a target="blank" href="#">加入我们</a> </div>
    <div class="copyright">Copyright &copy; 1998 - 2014 #. All Rights Reserved.</div>
  </div>
  <script type="text/javascript">
	    if(typeof(pgvMain)=='function')
	        pgvMain();
    </script></div>
</body>
</html>