
<css href="__PUBLIC__/css/core.css" />
<css href="__PUBLIC__/css/style.css" />
<css href="__PUBLIC__/css/cv.css" />
<css href="__PUBLIC__/css/worklist.css" />
<js href='__PUBLIC__/js/jquery-1.26.js' />
<js href='__PUBLIC__/js/jquery.drag.js' />
<js href='__PUBLIC__/js/fn.js' />
<js href='__PUBLIC__/js/all.js' />
<js href='__PUBLIC__/js/invitelist.js' />
<include file='Public/header' />

  <!-- list列表-->
  
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf work_invite" id="contentHighSet">
      <div id="Other_info"  class="Other_info" style="display:">
        <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
          <tr>
            <td><span class="Bpispan_l" ></span>面试邀请<a name="SRI"/><span class="Bpispan_r" ></span></td>
          </tr>
        </table>
        
        
		<empty name="delis">
			<table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
			 <tr>
			  <td>暂未面试邀请</td>
			 </tr>
		  </table>
		 <else /> 
		 <volist name='delis' id='deli'>
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
          <tr>
            <td class="col_name">公司名</td>
            <td colspan="2"><input class="Department" type="text" id="Department" value="<{$deli.company_name}>" maxlength="60" name="Department" placeholder="例如：研究部" disabled/></td>
            <td class="col_name">职&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td colspan="2"><input type="text" class="Job" id="Job" value="<{$deli.company_name}>" maxlength="60" name="Job" placeholder="例如：分析师"/></td>
          </tr>
          <tr>
            <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
            <td colspan="2"><select  name="Pay" class="Pay" id="Pay">
                <OPTION VALUE=1 <if condition='$deli.pay eq 1'> selected</if> >5万以下</OPTION>
                <OPTION VALUE=2 <if condition='$deli.pay eq 2'> selected</if> >5～6万</OPTION>
                <OPTION VALUE=3 <if condition='$deli.pay eq 3'> selected</if> >5～8万</OPTION>
                <OPTION VALUE=4 <if condition='$deli.pay eq 4'> selected</if> >8～10万</OPTION>
                <OPTION VALUE=5 <if condition='$deli.pay eq 5'> selected</if> >10～15万</OPTION>
                <OPTION VALUE=6 <if condition='$deli.pay eq 6'> selected</if> >15～20万</OPTION>
                <OPTION VALUE=7 <if condition='$deli.pay eq 7'> selected</if> >20～30万</OPTION>
                <OPTION VALUE=8 <if condition='$deli.pay eq 8'> selected</if> >30～50万</OPTION>
              </select></td>
            <td class="col_name">工作地点</td>
            <td colspan="2"><input type="text" class="WorkPlace" id="WorkPlace" value="<{$deli.work_addre}>" maxlength="60" name="WorkPlace" placeholder="例如：杭州"/></td>
          </tr>
          <tr>
            <td class="col_name" colspan="2">工作方向</td>
            <td colspan="4" valign="middle"><input type="text" class="JobDirec input393" onBlur="checkinputstr('Name','er_name')"  id="JobDirec" value="<{$deli.work_direction}>" maxlength="100" name="JobDirec" placeholder="例如：欧洲宏观经济研究"/></td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6" class="col_name hide_detail" style="text-align:left; ">职位具体描述</td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6"><div class="del_exp">
                <div class="Exper">
                  <textarea  class="weight600 JobDetail"  name="JobDetail" id="JobDetail" placeholder="例如：：负责建立欧洲区域经济模型"><{$deli.description}></textarea>
                </div>
              </div></td>
          </tr>
          <tr  class="hide_detail" style=" display:none;">
            <td colspan="6" class="col_name hide_detail" style="text-align:left;">职位要求</td>
          </tr>
          <tr class="hide_detail" style=" display:none;">
            <td colspan="6"><div class="del_exp">
                <div class="Exper">
                  <textarea rows="6" class="weight600 JobRequire"  name="JobRequire" id="JobRequire" placeholder="例如：对经济运行基本逻辑的理解..."><{$deli.requirement}></textarea>
                </div>
              </div></td>
          </tr>
          <tr ><!--下拉按钮-->
            <td colspan="6" style="text-align:right;"><div class="down_btn spread_detail"> <img src="__PUBLIC__/images/down.jpg"/></div>
              <div style="display:none;" class="up_btn unspread_detail"> <img src="__PUBLIC__/images/up.jpg"/></div></td>
          </tr>
          <tr ><!--保存按钮-->
            <td colspan="6" class="invite_btn" style=" padding-left:550px;">
			<if condition="$deli.accept_flag eq 1">
              <div style="display:none;" class="inner_list_invite" _attr='<{$deli.delivery_id}>'><a class="pre_cv">接受</a> </div>
              <div style="" class="invite_inner_list notinterest_cv_send" _attr='<{$deli.delivery_id}>'><a>不接受</a> </div>
			<elseif condition="$deli.accept_flag eq 2"/>
              <div style="" class="inner_list_invite" _attr='<{$deli.delivery_id}>'><a class="pre_cv">接受</a> </div>
              <div style="display:none;" class="invite_inner_list notinterest_cv_send" _attr='<{$deli.delivery_id}>'><a>不接受</a> </div>
			<else />
				<div class="invite_inner_list invite_cv_send" _attr='<{$deli.delivery_id}>'>  <a class="pre_cv">是否接受面试邀请</a> </div>
              <div style="display:none;" class="inner_list_invite" _attr='<{$deli.delivery_id}>'><a class="pre_cv">接受</a> </div>
              <div style="display:none;" class="invite_inner_list notinterest_cv_send" _attr='<{$deli.delivery_id}>'><a>不接受</a> </div>
			</if>
            
            </td>
          </tr>
        </table>
		</volist>
		</empty>


      </div>
    </ul>
    <include file='Public/user_menu' />
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <include file='Public/footer' />