<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>求职者申请 | 点石成金</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<css href="__PUBLIC__/Css/core.css" />
<css href="__PUBLIC__/Css/style.css" />
<css href="__PUBLIC__/Css/cv.css" />
<css href="__PUBLIC__/Css/style.css" />

<js href='__PUBLIC__/Js/jquery-1.8.js' />
<js href='__PUBLIC__/Js/jquery.drag.js' />
<js href='__PUBLIC__/Js/fn.js' />
<js href='__PUBLIC__/Js/all.js' />
<js href='__PUBLIC__/Js/cv_mod.js' />
<js href='__PUBLIC__/Js/newapplyinfo.js' />




<!--[if lt IE 7]>
<script>var file_root = '/';</script>
<script type="text/javascript" src="/js/unitpngfix.js"></script>
<![endif]--><!--<script>
    	//数组最后一个为样式中默认的　#indexpage
    	var homeimgbg=['/img/hbg2.jpg','/img/hbg3.jpg','/img/hbg1.jpg'];
    </script>-->

</head>
<body id="index">
<div class="wrap">
  <div class="header_wrap">
    <div class="head">
      <div class="logo_area">
        <h1 class="logo"><a href="#" class="txt">金点</a></h1>
      </div>
      <div class="menu_area">
        <ul class="menu_list">
          <li class=" "><!--添加类名 current 显示隐藏子菜单--> 
            <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">Next Idea</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- list列表-->
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf" id="contentHighSet">
      <!--base start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>个人基本信息<a name="BPI"></a><span class="Bpispan_r"></span></td>
          <td align="right"><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_shrink.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none;" id="BPI_hidden"/><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_spread.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none" id="BPI_show"/></td>
        </tr>
      </table>
      <div id="BPI_info" class="BPI_info"> 
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf">
          <tr>
            <td  rowspan="3" width="120px" height="160px"><img src="" width="120px" height="160px">
              <input type="file" value="" class="imgfile" name="imgfile"  id="imgfile" style="width:120px" />
              </td>
            <td class="col_name"><span class="text_red">*</span>&nbsp;姓&nbsp;&nbsp;&nbsp;&nbsp;名</td>
            <td ><label>
              <div style="float:left;">
                <input type="text" onBlur="checkinputstr('Name','er_name')"  id="Name" value="" maxlength="20" name="Name"/>
              </div>
              </label></td>
            <td align="left" class="col_name"><span class="text_red">*</span>&nbsp;性&nbsp;&nbsp;&nbsp;&nbsp;别 </td>
            <td class=""><input type="radio" value="0" checked name="Gender"/>
              男
              <input type="radio" value="1"  name="Gender"/>
              女 </td>
          </tr>
          <tr>
            <td align="left" class="col_name">常用邮箱 </td>
            <td colspan="3"><input name="email" type="text" class="weight150" id="email" value="email" placeholder="email" /></td>
          </tr>
          <tr>
            <td align="left" class="col_name"><!--<span class="text_red">*</span>-->手机号码</td>
            <td colspan="3" valign="middle"><div style="float:left;">
                <input id="Mobile" name="Mobile" onBlur="checkinputstr('phone','er_phone')" maxlength="20"  value="" type="text" placeholder="手机号"  />
              </div></td>
          </tr>
          <tr>
            <td class="col_name">&nbsp;地&nbsp;&nbsp;&nbsp;&nbsp;址</td>
            <td colspan="4" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="Address" value="" maxlength="100" name="Address"/></td>
          </tr>
          <tr>
            <td class="col_name">&nbsp;目前工作单位</td>
            <td colspan="4" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="Company" value="" maxlength="100" name="Address"/></td>
          </tr>
          <tr>
            <td class="col_name">&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;门</td>
            <td colspan="2" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="Depart" value="" maxlength="100" name="Address"/></td>
            <td class="col_name">&nbsp;职&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td colspan="2" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="Job" value="" maxlength="100" name="Address"/></td>
          </tr>
          <tr>
            <td class="col_name">&nbsp;工作年限</td>
            <td colspan="2" valign="middle"><select  name="Worktime" id="Worktime" onBlur="checkinputstr('Name','er_name')" >
                <OPTION VALUE=0 selected>请选择</OPTION>
                <OPTION VALUE=1 >1年以下</OPTION>
                <OPTION VALUE=2>1～3年</OPTION>
                <OPTION VALUE=3>3～5年</OPTION>
                <OPTION VALUE=4>5～8年</OPTION>
                <OPTION VALUE=5 >10～15年</OPTION>
                <OPTION VALUE=6 >15～20年</OPTION>
                <OPTION VALUE=7 >20年以上</OPTION>
              </select></td>
            <td class="col_name">&nbsp;职&nbsp;&nbsp;&nbsp;&nbsp;级</td>
            <td colspan="2" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="JobGrade" value="" maxlength="100" name="Address"/></td>
          </tr>
          <tr><!--保存按钮-->
            <td colspan="5" align="left" style="text-align:right;"><input class="btn_pic" type="button" name="imgfile" id="imgfile" onclick="submitBaseInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
        </table>
        <input type="hidden" id="CheckGoogle" name="CheckGoogle" value=""/>
      </div>
      <!--base end--> 
      <!--OTHER start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>求职意向<a name="OTHER"/><span class="Bpispan_r" ></span></td>
        </tr>
      </table>
      <div id="Other_info"  class="Other_info" style="display:"> 
     
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
          <tr>
            <td  colspan="2" class="col_name">目前求职状态</td>
            <td colspan="5"><select  name="JobTerm" id="JobTerm">
                <OPTION VALUE=1 Selected>目前正在找工作</OPTION>
                <OPTION VALUE=2>半年内无换工作的计划</OPTION>
                <OPTION VALUE=3>1年内无换工作的计划</OPTION>
                <OPTION VALUE=4>观望有好的机会再考虑</OPTION>
                <OPTION VALUE=5 >我暂时不想找工作</OPTION>
              </select></td>
          </tr>
          <tr>
            <td  colspan="2" align="left" class="col_name">工作地偏好</td>
            <td><input type="text" id="Area1" value="" maxlength="20" name="Area"/></td>
            <td><input type="text" id="Area2" value="" maxlength="20" name="Area"/></td>
            <td><input type="text" id="Area3" value="" maxlength="20" name="Area"/></td>
            <td colspan="2"><input name="btnjobarea" type="button"  class="choose" id="btnjobarea" value="选择/修改"  onfocus="blur()" onclick="JobareaInit();$('#Other').find('#btnjobarea').removeAttr('onclick');"  />
              <input name="jobarea" type="hidden" id="jobarea" value=""></td>
          </tr>
          <tr>
            <td colspan="4" style="border:0;"></td>
          </tr>
          <tr>
            <td colspan="2" class="col_name">期望年薪</td>
            <td colspan="5"><select  name="WantPay" id="WantPay">
                <OPTION VALUE=1 Selected>5万以下</OPTION>
                <OPTION VALUE=2>5～6万</OPTION>
                <OPTION VALUE=3>5～8万</OPTION>
                <OPTION VALUE=4>8～10万</OPTION>
                <OPTION VALUE=5 >10～15万</OPTION>
                <OPTION VALUE=6 >15～20万</OPTION>
                <OPTION VALUE=7 >20～30万</OPTION>
                <OPTION VALUE=8 >30～50万</OPTION>
              </select></td>
          </tr>
          <tr>
            <td  colspan="2" class="col_name">工作环境</td>
            <td colspan="5"><input type="text" class="input450" id="JobEnvir" value="" maxlength="60" name="JobEnvir" placeholder="您所期望的工作环境"/></td>
          </tr>
          <tr>
            <td  colspan="2" class="col_name">求职方向</td>
            <td colspan="5"><select  name="JobDirec" id="JobDirec">
                <OPTION VALUE=1 Selected>公司金融服务</OPTION>
                <OPTION VALUE=2>一级市场投资分析</OPTION>
                <OPTION VALUE=3>二级市场研究、交易、投资</OPTION>
                <OPTION VALUE=4>券商销售</OPTION>
              </select></td>
          </tr>
          <tr>
            <td colspan="7" class=""><div id="finServ" style="display:block" > <span class="btn_pic btn_pic_span"><a>股权</a></span> <span class="btn_pic btn_pic_span"><a>债券</a></span> <span class="btn_pic btn_pic_span"><a>并购</a></span> <span class="btn_pic btn_pic_span"><a>ECM</a></span> <span class="btn_pic btn_pic_span"><a>DCM</a></span> </div>
              <div  id="oneInvest" style="display:none" > <span class="btn_pic btn_pic_span"><a>PE</a></span> <span class="btn_pic btn_pic_span"><a>VC</a></span> <span class="btn_pic btn_pic_span"><a>信托</a></span> <span class="btn_pic btn_pic_span"><a>其他投资机构</a></span> </div>
              <div  id="twoInvest" style="display:none" > <span class="btn_pic btn_pic_span"><a>卖方研究</a></span> <span class="btn_pic btn_pic_span"><a>公募基金</a></span> <span class="btn_pic btn_pic_span"><a>私募基金</a></span> <span class="btn_pic btn_pic_span"><a>信托</a></span> <span class="btn_pic btn_pic_span"><a>资管</a></span> <span class="btn_pic btn_pic_span"><a>券商自营</a></span> <span class="btn_pic btn_pic_span"><a>银行金融市场</a></span> <span class="btn_pic btn_pic_span"><a>其他投资机构</a></span> </div>
              <div id="sales" style="display:none" > <span class="btn_pic btn_pic_span"><a>股票</a></span> <span class="btn_pic btn_pic_span"><a>债券</a></span> <span class="btn_pic btn_pic_span"><a>外汇</a></span> <span class="btn_pic btn_pic_span"><a>商品</a></span> <span class="btn_pic btn_pic_span"><a>量化</a></span> </div></td>
          </tr>
          <tr><!--保存按钮-->
            <td colspan="7"  style="text-align:right;"><input class="btn_pic" type="button" name="imgfile" id="imgfile" onclick="submitPurposeInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
        </table>
       
      </div>
      <!--OTHER end--> 
      
      <!--EDU start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>教育背景<a name="EDU"></a><span class="Bpispan_r" ></span></td>
        </tr>
      </table>
<script type="text/javascript" >

$(document).ready(function(){        
 //temp = $(".SAward");
 $("a[name=edu_del]").on('click',function(){
  $(this).parent().parent().remove();
    })
 $(".edu_add").on('click',function(){
   	var target = $(this);
	var div = target.parent().parent().parent().next().find('.del_edu');
	var item = target.parent().parent().parent().parent().parent().find('.SAward').first();
	item.clone(true).appendTo(div);
 })
 
 var temp_exp = $(".Exper:first");
 $("a[name=exp_del]").on('click',function(){
  $(this).parent().parent().remove();
    })
 $(".exp_add").on('click',function(){
	var target1 = $(this);
 	var div1 = target1.parent().parent().parent().next().find('.del_exp');
	var item = target1.parent().parent().parent().parent().parent().find('.Exper').first();
    item.clone(true).appendTo(div1);
 }) 
 
 var temp_addmoreedu = $(".eduEdit:first");
 $("a[name=del_this_edu]").live('click',function(){
  $(this).parent().parent().parent().parent().parent().parent().remove();
    })
 $(".moreedu_add").on('click',function(){
	 
  temp_addmoreedu.clone(true).appendTo($(".Edu_edit"));
 }) 
})


</script>
      <div id="Edu_info">
        <div id="Edu_edit" class="Edu_edit">
          <div class="eduEdit" >
                     
            <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
        <tr>
          <td><span class="btn_all_del"  ><a name="del_this_edu" >删除这条教育背景</a></span></td>
        </tr>
      </table>
            <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
              <tr>
                <td class="col_name">&nbsp;学&nbsp;&nbsp;&nbsp;&nbsp;校</td>
                <td colspan="2"><input class="School" type="text" id="School" value="" maxlength="60" name="School" placeholder="例如：上海财经大学"/></td>
                <td class="col_name">院&nbsp;&nbsp;&nbsp;&nbsp;系</td>
                <td colspan="2"><input type="text" class="College" id="College" value="" maxlength="60" name="College" placeholder="例如：金融学院"/></td>
              </tr>
              <tr>
                <td class="col_name">学&nbsp;&nbsp;&nbsp;&nbsp;历</td>
                <td colspan="2"><input type="text"  class="Academic" id="Academic" value="" maxlength="60" name="Academic" placeholder="例如：金融硕士"/></td>
                <td class="col_name">在校时间</td>
                <td colspan="2"><input type="text" class="SDuring" id="SDuring" value="" maxlength="60" name="SDuring" placeholder="例如：2011.09-2013.06"/></td>
              </tr>
              <tr>
                <td colspan="9" class="col_name">所获学校奖励<span class="btn_pic_add" style="float:right;"><a class="edu_add" >添加</a></span></td>
              </tr>
                                                 
              <tr class="saw">
                <td colspan="9"><div  class="del_edu">
                    <div  class="SAward">
                      <input type="text"  class="SAwardtext input450" id="SAwardtext" value="" maxlength="60" name="SAwardtext" placeholder="例如：2011-2012全额奖学金"/>
                      <span class="btn_pic_del" style="float:right;"><a class="edu_del" name="edu_del"  >删除</a></span> </div>
                  </div>
                  </td>
              </tr>
              
              

              <tr>
                <td colspan="9" class="col_name">其他在校经历<span class="btn_pic_add" ><a class="exp_add" >添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_exp">
                    <div class="Exper">
                      <textarea rows="6" class="weight450 otherAwardExp"  name="EduDetail" placeholder="例如：2011-2012学生会文艺部"></textarea>
                      <span class="btn_pic_del" style="float:right;"><a class="exp_del" name="exp_del" >删除</a></span> </div>
                  </div></td>
              </tr>
              
              <!--<tr>保存按钮
              
                <td colspan="9">
                  
                </td>
              </tr>-->
            </table>
                       
          </div>
        </div>
        <div class="btn_add_edu" style=""><span class="btn_edu_span"><a class="moreedu_add" >增加教育背景</a></span><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="submitEduInfo();"  value="保存" />
             </div> 
      </div>
      
      <!--EDU end--> 
      
      <!--Work start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>工作实习经历<a name="WORK" id="WORK"></a><span class="Bpispan_r" ></span></td>
          
        </tr>
      </table>

       
        <div  class="Work_edit">
          <div  class="Work_add_1">
           <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
        <tr>
          <td><span class="btn_all_del"  ><a name="btn_this_work" >删除这条工作经历</a></span></td>
        </tr>
         </table>
               <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
                <tr>
                <td class="col_name">公&nbsp;&nbsp;&nbsp;&nbsp;司</td>
                <td colspan="2"><input type="text"  class="CompanyNOw" id="CompanyNOw" value="" maxlength="60" name="CompanyNOw" placeholder="例如：CICC"/></td>
                <td class="col_name">部门职位</td>
                <td colspan="2"><input type="text" class="DepartNow" id="DepartNow" value="" maxlength="60" name="DepartNow" placeholder="例如：投资银行部经理"/></td>
              </tr>
              <tr>
                <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
                <td colspan="2"><select  name="NowPay" class="NowPay" id="NowPay">
                <OPTION VALUE=1 Selected>5万以下</OPTION>
                <OPTION VALUE=2>5～6万</OPTION>
                <OPTION VALUE=3>5～8万</OPTION>
                <OPTION VALUE=4>8～10万</OPTION>
                <OPTION VALUE=5 >10～15万</OPTION>
                <OPTION VALUE=6 >15～20万</OPTION>
                <OPTION VALUE=7 >20～30万</OPTION>
                <OPTION VALUE=8 >30～50万</OPTION>
              </select></td>
                <td class="col_name">工作时间</td>
                <td colspan="2"><input type="text" class="WorkTimeNow" id="WorkTimeNow" value="" maxlength="60" name="WorkTimeNow" placeholder="例如：2013.01-至今"/></td>
              </tr> 
             
                
              <tr>
                <td colspan="9" class="col_name"> 工作内容<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="Work_add"  >添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_work">
                    <div class="WorkExper">
                      <textarea rows="3" class="weight450 WorkDetail" id="WorkDetail"  name="WorkDetail" placeholder="例如：负责XX项目..."></textarea>
                      <span class="btn_pic_del" ><a class="work_del" name="work_del" id="work_del" >删除</a></span> </div>
                  </div></td>
              </tr>
          
</table>
          </div>
      </div>
          <div class="btn_add_edu" ><span class="btn_edu_span"><a class="morework_add" >增加工作经历</a></span><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="submitWorkInfo();"  value="保存" />
             </div> 
      
      <!--Work end--> 
      
     <!--OtherWork start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>其他经历和个人能力<a name="OTHERWORK" id="OTHERWORK" ></a><span class="Bpispan_r" style=" width:280px;"></span></td>
          
        </tr>
      </table>

       
        <div class="OtherWork_edit">
          <div class="OtherWork_add_1">
           
               <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
               
              <tr>
                <td colspan="9" class="col_name"> 其他经历<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="OtherWork_add">添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_otherwork" >
                    <div class="OtherWorkExper">
                      <textarea rows="3" class="weight450 OtherWorkDetail" id="OtherWorkDetail"  name="OtherWorkDetail" placeholder="例如：某NG3年以上工作经历..."></textarea>
                      <span class="btn_pic_del" ><a class="otherwork_del" name="otherwork_del">删除</a></span> </div>
                  </div></td>
              </tr>
              <tr>
                <td colspan="9" class="col_name"> 其他个人能力<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="OtherAbi_add"  >添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_otherability" >
                    <div class="OtherAbility">
                      <textarea rows="3" class="weight450 PersonalAbi" id="PersonalAbi"  name="PersonalAbi" placeholder="例如：精通红酒评鉴..."></textarea>
                      <span class="btn_pic_del" ><a class="otherability_del" name="otherability_del" >删除</a></span> </div>
                  </div></td>
              </tr>
           <tr><!--保存按钮-->
            <td colspan="5" align="left" style="text-align:right;"><input class="btn_pic" type="button" name="saveOtherWork" id="saveOtherWork" onclick="submitOtherWorkInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
          
</table>
          </div>
      </div>
  
      <!--OtherWork end--> 
   
  <div class="btn_preview" >
  <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left; height:50px;">
  <tr>
  <td colspan="9"><span class="btn_preview_span" ><a href="#" class="otherability_del" name="otherability_del" >简历预览</a></span> 
  </td>
  </tr>
  </table>
  </div>     
    
    </ul>
    <ul class="rew_conr rew_conr_mdf" id="contentHighSetLeft">
      <li class="big_btn_resume btn_resume_mdf" style="width:auto;margin-left:0">
        <div class="icon_width icon_width_mdf" style="margin-right:10px;"> <span class="text_red">&nbsp;&nbsp;></span> <a href="#BPI">我的求职信息</a> </div>
        <!--<img src="http://img01.51jobcdn.com/im/2009/cv/cresume/icon_need.gif" class="icon_need" align="absmiddle" id="Base_Complete" style="display:none;"/> <img src="http://img01.51jobcdn.com/im/2009/cv/cresume/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Base_Incomplete" style="display:block;" />--> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> <span class="text_red">&nbsp;&nbsp;*</span> <a href="#BPI">个人基本信息</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Base_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Base_Incomplete" style="display:block;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="#OTHER">求职意向</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Other_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Other_Incomplete" style="display:block;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#EDU">教育背景</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Edu_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Edu_Incomplete" style="display:block;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#WORK">工作实习经历</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Work_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Work_Incomplete" style="display:block;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="#OTHERWORK">其他经历和个人能力</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Lan_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Lan_Incomplete" style="display:block;" /> </li>
        <li class="btn_resume btn_resume_mdf" >
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">查看面试邀请</a> </div>
        <img src="/dscj/Public/images/icon_need.gif" class="icon_need" align="absmiddle" id="Lan_Complete" style="display:none;"/> <img src="/dscj/Public/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Lan_Incomplete" style="display:block;" /> </li>
    </ul>
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <div class="footer">
    <div class="block">
      <div class="Lcontent">
        <dl>
          <dt>
            <h3>合作伙伴</h3>
          </dt>
          <dd>
            <p style="display:none;"><a href="http://www.weather.com.cn/wzfw/gywm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/lxwm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/sybz/">帮助</a><a href="http://www.weather.com.cn/wzfw/ryzp/">合作伙伴</a></p>
          </dd>
        </dl>
        <div class="clear"></div>
      </div>
      <div class="serviceinfo">
        <p><span><a href="#">清波科技有限公司</a></span></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--foot-->
  
  <div class="footer_wrap">
    <div class="links"> <a target="blank" href="#">关于金点</a> <span>|</span> <a target="blank" href="#">服务条款</a> <span>|</span> <a target="blank" href="#">广告服务</a> <span>|</span> <a target="blank" href="#">联系方式</a> <span>|</span> <a target="blank" href="#">加入我们</a> </div>
    <div class="copyright">Copyright &copy; 1998 - 2014 #. All Rights Reserved.</div>
  </div>
  <script type="text/javascript">
	    if(typeof(pgvMain)=='function')
	        pgvMain();
    </script></div>
</body>
</html>