<include file='Public/header' />
<css href="__PUBLIC__/css/core.css" />
<css href="__PUBLIC__/css/style.css" />
<css href="__PUBLIC__/css/cv.css" />
<js href='__PUBLIC__/js/jquery-1.8.2.js' />
<js href='__PUBLIC__/js/jquery.drag.js' />
<js href='__PUBLIC__/js/fn.js' />
<js href='__PUBLIC__/js/all.js' />
<js href='__PUBLIC__/js/cv_mod.js' />
<js href='__PUBLIC__/js/newapplyinfo.js' />
  <!-- list列表-->
  <div class="rew_down rew_down_mdf">
    <ul class="rew_conl rew_conl_mdf" id="contentHighSet">
      <!--base start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>个人基本信息<a name="BPI"></a><span class="Bpispan_r"></span></td>
          <td align="right"><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_shrink.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none;" id="BPI_hidden"/><img src="http://img01.51jobcdn.com/im/2009/cv/cresume/btn_spread.gif" align="absmiddle" hspace="10" onClick="showinfo('BPI');" style="cursor:pointer; display:none" id="BPI_show"/></td>
        </tr>
      </table>
      <div id="BPI_info" class="BPI_info"> 
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf">
          <tr>
            <td  rowspan="3" width="120px" height="160px">
			  <div id="preview">  
					<img id="imghead" width='120px' height="160px"  src='__ROOT__/Uploads/Photo/<{$result.photo}>'>  
				</div>
              <input type="file" value="" class="imgfile" name="fileToUpload"  id="fileToUpload" style="width:120px" onchange="previewImage(this)" />
              </td>
            <td class="col_name"><span class="text_red">*</span>姓&nbsp;&nbsp;&nbsp;&nbsp;名</td>
            <td >
			  <label>
              <div style="float:left;">
                <input type="text" onBlur="checkinputstr('Name','er_name')"  id="Name" value="<{$result.name}>" maxlength="20" name="Name"/>
              </div>
              </label>
			</td>

            <td align="left" class="col_name"><span class="text_red">*</span>性&nbsp;&nbsp;&nbsp;&nbsp;别 </td>
            <td class="">
			
			<input type="radio" value="1" <if condition='$result.sex eq 1'> checked</if> name="Gender"/>
              男
              <input type="radio" value="2" <if condition='$result.sex eq 2'> checked</if> name="Gender"/>
              女 
			  </td>
          </tr>
          <tr>
            <td align="left" class="col_name">常用邮箱 </td>
            <td ><input name="email" type="text" class="weight150" id="email" value="<{$result.email}>" placeholder="email" /></td>
         
            <td align="left" class="col_name"><!--<span class="text_red">*</span>-->手机号码</td>
            <td colspan="3" valign="middle"><div style="float:left;">
                <input id="Mobile" name="Mobile" onBlur="checkinputstr('phone','er_phone')" maxlength="20"  value="<{$result.phone}>" type="text" placeholder="手机号"  />
              </div></td>
          </tr>
		  <tr>
            <td align="left" class="col_name">最高学历院校 </td>
            <td colspan="3"><input name="school" type="text" class="weight150" id="school" value="<{$result.school}>" placeholder="email" /></td>
          </tr>
          <tr>
            <td class="col_name">地&nbsp;&nbsp;&nbsp;&nbsp;址</td>
            <td colspan="4" valign="middle"><input type="text" class="input550" onBlur="checkinputstr('Name','er_name')"  id="Address" value="<{$result.address}>" maxlength="100" name="Address"/></td>
          </tr>
          <tr>
            <td class="col_name">目前工作单位</td>
            <td colspan="4" valign="middle"><input type="text" class="input550" onBlur="checkinputstr('Name','er_name')"  id="Company" value="<{$result.work_unit}>" maxlength="100" name="Address"/></td>
          </tr>
          <tr>
            <td class="col_name">部&nbsp;&nbsp;&nbsp;&nbsp;门</td>
            <td colspan="2" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="Depart" value="<{$result.department}>" maxlength="100" name="Address"/></td>
            <td class="col_name">职&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td colspan="2" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="Job" value="<{$result.position}>" maxlength="100" name="Address"/></td>
          </tr>
          <tr>
            <td class="col_name">工作年限</td>
            <td colspan="2" valign="middle"><select  name="Worktime" id="Worktime" onBlur="checkinputstr('Name','er_name')" >
                <OPTION VALUE=0 <if condition='$result.work_time eq 0'> selected</if> >请选择</OPTION>
                <OPTION VALUE=1 <if condition='$result.work_time eq 1'> selected</if> >1年以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.work_time eq 2'> selected</if> >1～3年</OPTION>
                <OPTION VALUE=3 <if condition='$result.work_time eq 3'> selected</if> >3～5年</OPTION>
                <OPTION VALUE=4 <if condition='$result.work_time eq 4'> selected</if> >5～8年</OPTION>
                <OPTION VALUE=5 <if condition='$result.work_time eq 5'> selected</if> >10～15年</OPTION>
                <OPTION VALUE=6 <if condition='$result.work_time eq 6'> selected</if> >15～20年</OPTION>
                <OPTION VALUE=7 <if condition='$result.work_time eq 7'> selected</if> >20年以上</OPTION>
              </select></td>
            <td class="col_name">职&nbsp;&nbsp;&nbsp;&nbsp;级</td>
            <td colspan="2" valign="middle"><input type="text" onBlur="checkinputstr('Name','er_name')"  id="JobGrade" value="<{$result.rank}>" maxlength="100" name="Address"/></td>
          </tr>
          <tr><!--保存按钮-->
            <td colspan="5" align="left" style="text-align:right;"><input class="btn_pic" type="button" name="imgfile" id="imgfile" onclick="submitBaseInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
        </table>
        <input type="hidden" id="CheckGoogle" name="CheckGoogle" value=""/>
      </div>
      <!--base end--> 
      <!--OTHER start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>求职意向<a name="OTHER"/><span class="Bpispan_r" ></span></td>
        </tr>
      </table>
      <div id="Other_info"  class="Other_info" style="display:"> 
     
        <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
          <tr>
            <td  colspan="2" class="col_name">目前求职状态</td>
            <td colspan="5"><select  name="JobTerm" id="JobTerm">
                <OPTION VALUE=1 <if condition='$result.job_status eq 1'> selected</if> >目前正在找工作</OPTION>
                <OPTION VALUE=2 <if condition='$result.job_status eq 2'> selected</if> >半年内无换工作的计划</OPTION>
                <OPTION VALUE=3 <if condition='$result.job_status eq 3'> selected</if> >1年内无换工作的计划</OPTION>
                <OPTION VALUE=4 <if condition='$result.job_status eq 4'> selected</if> >观望有好的机会再考虑</OPTION>
                <OPTION VALUE=5 <if condition='$result.job_status eq 5'> selected</if> >我暂时不想找工作</OPTION>
              </select></td>
          </tr>
          <tr>
            <td  colspan="2" align="left" class="col_name">工作地偏好</td>
            <td><input type="text" id="Area1" value="<{$area[0]}>" maxlength="20" name="Area"/></td>
            <td><input type="text" id="Area2" value="<{$area[1]}>" maxlength="20" name="Area"/></td>
            <td><input type="text" id="Area3" value="<{$area[2]}>" maxlength="20" name="Area"/></td>
            
          </tr>
          <tr>
            <td colspan="4" style="border:0;"></td>
          </tr>
          <tr>
            <td colspan="2" class="col_name">期望年薪</td>
            <td colspan="5"><select  name="WantPay" id="WantPay">
                <OPTION VALUE=1 <if condition='$result.expected_salary eq 1'> selected</if> >5万以下</OPTION>
                <OPTION VALUE=2 <if condition='$result.expected_salary eq 2'> selected</if> >5～6万</OPTION>
                <OPTION VALUE=3 <if condition='$result.expected_salary eq 3'> selected</if> >5～8万</OPTION>
                <OPTION VALUE=4 <if condition='$result.expected_salary eq 4'> selected</if> >8～10万</OPTION>
                <OPTION VALUE=5 <if condition='$result.expected_salary eq 5'> selected</if> >10～15万</OPTION>
                <OPTION VALUE=6 <if condition='$result.expected_salary eq 6'> selected</if> >15～20万</OPTION>
                <OPTION VALUE=7 <if condition='$result.expected_salary eq 7'> selected</if> >20～30万</OPTION>
                <OPTION VALUE=8 <if condition='$result.expected_salary eq 8'> selected</if> >30～50万</OPTION>
              </select></td>
          </tr>
          <tr>
            <td  colspan="2" class="col_name">工作环境</td>
            <td colspan="5"><input type="text" class="input580" id="JobEnvir" value="<{$result.work_environment}>" maxlength="60" name="JobEnvir" placeholder="您所期望的工作环境"/></td>
          </tr>
          <tr>
            <td  colspan="2" class="col_name">求职方向</td>
            <td colspan="5"><div id="finServ" style="display:block" >
                <span class="btn_dir_span touzi_span">投资银行业务</span>
                <span class="btn_dir_span yiji_span">一级市场投资分析</span>
                <span class="btn_dir_span erji_span" style="line-height:20px;">二级市场研究、交易、投资</span>
                <span class="btn_dir_span quanshang_span">券商销售</span>
              </div></td>
          </tr>
          <tr>
            <td colspan="7" class="">
            <div class="span_title touzi_div" style="display:none;"><span class="Tpispan_l" ></span>投资银行业务<span class="Tpispan_r" ></span>
            <div id="finServ" > 
            <span class="btn_pic btn_pic_span touzi_btn_pic">股权</span> 
            <span class="btn_pic btn_pic_span touzi_btn_pic">债券</span> 
            <span class="btn_pic btn_pic_span touzi_btn_pic">并购</span> 
            <span class="btn_pic btn_pic_span touzi_btn_pic">ECM</span> 
            <span class="btn_pic btn_pic_span touzi_btn_pic">DCM</span> 
            </div></div>
             
             <div class="span_title yiji_div" style="display:none;"><span class="Tpispan_l" style="width:222px;"></span>一级市场投资分析<span class="Tpispan_r" style="width:217px;" ></span>
              <div  id="oneInvest"  >
               <span class="btn_pic btn_pic_span yiji_btn_pic">PE</span> 
               <span class="btn_pic btn_pic_span yiji_btn_pic">VC</span> 
               <span class="btn_pic btn_pic_span yiji_btn_pic">信托</span> 
               <span class="btn_pic btn_pic_span yiji_btn_pic">其他投资机构</span> 
               </div></div>
              
              <div class="span_title erji_div" style="display:none;"><span class="Tpispan_l" style="width:200px;"></span>二级市场研究、交易、投资<span class="Tpispan_r" style="width:185px;"></span>
               
              <table border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td><span class="btn_erji_span">按机构:</span></td>
              <td><div  id="twoInvest" >
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">卖方研究</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">公募基金</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">私募基金</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">信托</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">资管</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">券商自营</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">银行金融市场</span> 
              <span class="btn_pic btn_pic_span erji_jg_btn_pic">其他投资机构</span></div>
              </td>
              </tr>
              <tr>
              <td><span class="btn_erji_span">按资产：</span></td>
              <td><div>
              <span class="btn_pic btn_pic_span erji_zc_btn_pic">股票</span> 
              <span class="btn_pic btn_pic_span erji_zc_btn_pic">债券</span> 
              <span class="btn_pic btn_pic_span erji_zc_btn_pic">期货</span> 
              <span class="btn_pic btn_pic_span erji_zc_btn_pic">外汇</span> 
              <span class="btn_pic btn_pic_span erji_zc_btn_pic">量化</span> 
              <span class="btn_pic btn_pic_span erji_zc_btn_pic">其他金融资产</span> 
              </div>
              <td>
               </tr>
               </table>
               </div>
              
              <div class="span_title quanshang_div" style="display:none;"><span class="Tpispan_l" style="width:244px;"></span>券商销售<span class="Tpispan_r" style="width:244px;"></span>
              <div id="sales"> 
              <span class="btn_pic btn_pic_span quanshang_btn_pic">股票</span> 
              <span class="btn_pic btn_pic_span quanshang_btn_pic">债券</span> 
              </div>
              </div>
              </td>
          </tr>
          <tr><!--保存按钮-->
            <td colspan="7"  style="text-align:right;"><input class="btn_pic" type="button" name="imgfile" id="imgfile" onclick="submitPurposeInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
        </table>
       
      </div>
      <!--OTHER end--> 
      
      <!--EDU start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>教育背景<a name="EDU"></a><span class="Bpispan_r" ></span></td>
        </tr>
      </table>

      <div id="Edu_info">
        <div id="Edu_edit" class="Edu_edit">
			<empty name="Education">
			 <div class="eduEdit" >
						 
				<table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
					<tr>
					  <td><span class="btn_all_del"  ><a name="del_this_edu" >删除这条教育背景</a></span></td>
					</tr>
				  </table>
				<table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
				  <tr>
					<td class="col_name">学&nbsp;&nbsp;&nbsp;&nbsp;校</td>
					<td colspan="2"><input class="School" type="text" id="School" value="" maxlength="60" name="School" placeholder="例如：上海财经大学"/></td>
					<td class="col_name">院&nbsp;&nbsp;&nbsp;&nbsp;系</td>
					<td colspan="2"><input type="text" class="College" id="College" value="" maxlength="60" name="College" placeholder="例如：金融学院"/></td>
				  </tr>
				  <tr>
					<td class="col_name">学&nbsp;&nbsp;&nbsp;&nbsp;历</td>
					<td colspan="2"><input type="text"  class="Academic" id="Academic" value="" maxlength="60" name="Academic" placeholder="例如：金融硕士"/></td>
					<td class="col_name">在校时间</td>
					<td colspan="2"><input type="text" class="SDuring" id="SDuring" value="" maxlength="60" name="SDuring" placeholder="例如：2011.09-2013.06"/></td>
				  </tr>
				  <tr>
					<td colspan="9" class="col_name" style="text-align:left;">所获学校奖励<span class="btn_pic_add" style="float:right;"><a class="edu_add" >添加</a></span></td>
				  </tr>
													 
				  <tr class="saw">
					<td colspan="9">
						<div  class="del_edu">
							<div  class="SAward">
							  <input type="text"  class="SAwardtext input620" id="SAwardtext" value="" maxlength="60" name="SAwardtext" placeholder="例如：2011-2012全额奖学金"/>
							  <span class="btn_pic_del" style="float:right;"><a class="edu_del" name="edu_del"  >删除</a></span> 
							  </div>
						 </div>
					  </td>
				  </tr>
				  
				  

				  <tr>
					<td colspan="9" class="col_name" style="text-align:left;">其他在校经历<span class="btn_pic_add" ><a class="exp_add" >添加</a></span></td>
				  </tr>
				  <tr>
					<td colspan="9"><div class="del_exp">
						<div class="Exper">
						  <textarea rows="6" class="weight620 otherAwardExp"  name="EduDetail" placeholder="例如：2011-2012学生会文艺部"></textarea>
						  <span class="btn_pic_del" style="float:right;"><a class="exp_del" name="exp_del" >删除</a></span> </div>

					  </div></td>
				  </tr>
				  
				  <!--<tr>保存按钮
				  
					<td colspan="9">
					  
					</td>
				  </tr>-->
				</table>
						   
			  </div>
			
			<else /> 
			<volist name='Education' id='data'>
			  <div class="eduEdit" >
						 
				<table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
					<tr>
					  <td><span class="btn_all_del"  ><a name="del_this_edu" >删除这条教育背景</a></span></td>
					</tr>
				  </table>
				<table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
				  <tr>
					<td class="col_name">学&nbsp;&nbsp;&nbsp;&nbsp;校</td>
					<td colspan="2"><input class="School" type="text" id="School" value="<{$data.school}>" maxlength="60" name="School" placeholder="例如：上海财经大学"/></td>
					<td class="col_name">院&nbsp;&nbsp;&nbsp;&nbsp;系</td>
					<td colspan="2"><input type="text" class="College" id="College" value="<{$data.departme}>" maxlength="60" name="College" placeholder="例如：金融学院"/></td>
				  </tr>
				  <tr>
					<td class="col_name">学&nbsp;&nbsp;&nbsp;&nbsp;历</td>
					<td colspan="2"><input type="text"  class="Academic" id="Academic" value="<{$data.education}>" maxlength="60" name="Academic" placeholder="例如：金融硕士"/></td>
					<td class="col_name">在校时间</td>
					<td colspan="2"><input type="text" class="SDuring" id="SDuring" value="<{$data.school_time}>" maxlength="60" name="SDuring" placeholder="例如：2011.09-2013.06"/></td>
				  </tr>
				  <tr>
					<td colspan="9" class="col_name" style="text-align:left;">所获学校奖励<span class="btn_pic_add" style="float:right;"><a class="edu_add" >添加</a></span></td>
				  </tr>
													 
				  <tr class="saw">
					<td colspan="9">
						<div  class="del_edu">
							<volist name='data.school_awards' id='awards'>
							<div  class="SAward">
							  <input type="text"  class="SAwardtext input620" id="SAwardtext" value="<{$awards}>" maxlength="60" name="SAwardtext" placeholder="例如：2011-2012全额奖学金"/>
							  <span class="btn_pic_del" style="float:right;"><a class="edu_del" name="edu_del"  >删除</a></span> 
							  </div>
							 </volist>
						 </div>
					  </td>
				  </tr>
				  
				  

				  <tr>
					<td colspan="9" class="col_name" style="text-align:left;">其他在校经历<span class="btn_pic_add" ><a class="exp_add" >添加</a></span></td>
				  </tr>
				  <tr>
					<td colspan="9"><div class="del_exp">
						<volist name='data.school_experiences' id='experiences'>
						<div class="Exper">
						  <textarea rows="6" class="weight620 otherAwardExp"  name="EduDetail" placeholder="例如：2011-2012学生会文艺部"><{$experiences}></textarea>
						  <span class="btn_pic_del" style="float:right;"><a class="exp_del" name="exp_del" >删除</a></span> </div>
						</volist>

					  </div></td>
				  </tr>
				  
				  <!--<tr>保存按钮
				  
					<td colspan="9">
					  
					</td>
				  </tr>-->
				</table>
						   
			  </div>
			</volist>
			</empty>
        </div>
		
        <div class="btn_add_edu" style=""><span class="btn_edu_span"><a class="moreedu_add" >增加教育背景</a></span><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="submitEduInfo();"  value="保存" />
             </div> 
      </div>
      
      <!--EDU end--> 
      
      <!--Work start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>工作实习经历<a name="WORK" id="WORK"></a><span class="Bpispan_r" ></span></td>
          
        </tr>
      </table>

        <div  class="Work_edit">

		  <empty name="Work">
          <div  class="Work_add_1">
           <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
			<tr>
			  <td><span class="btn_all_del"  ><a name="btn_this_work" >删除这条工作经历</a></span></td>
			</tr>
			 </table>
               <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
                <tr>
                <td class="col_name">公&nbsp;&nbsp;&nbsp;&nbsp;司</td>
                <td colspan="2"><input type="text"  class="CompanyNOw" id="CompanyNOw" value="" maxlength="60" name="CompanyNOw" placeholder="例如：CICC"/></td>
                <td class="col_name">部门职位</td>
                <td colspan="2"><input type="text" class="DepartNow" id="DepartNow" value="" maxlength="60" name="DepartNow" placeholder="例如：投资银行部经理"/></td>
              </tr>
              <tr>
                <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
                <td colspan="2"><select  name="NowPay" class="NowPay" id="NowPay">
                <OPTION VALUE=1 Selected>5万以下</OPTION>
                <OPTION VALUE=2>5～6万</OPTION>
                <OPTION VALUE=3>5～8万</OPTION>
                <OPTION VALUE=4>8～10万</OPTION>
                <OPTION VALUE=5 >10～15万</OPTION>
                <OPTION VALUE=6 >15～20万</OPTION>
                <OPTION VALUE=7 >20～30万</OPTION>
                <OPTION VALUE=8 >30～50万</OPTION>
              </select></td>
                <td class="col_name">工作时间</td>
                <td colspan="2"><input type="text" class="WorkTimeNow" id="WorkTimeNow" value="" maxlength="60" name="WorkTimeNow" placeholder="例如：2013.01-至今"/></td>
              </tr> 
             
                
              <tr>
                <td colspan="9" class="col_name" style="text-align:left;"> 工作内容<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="Work_add"  >添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_work">
                    <div class="WorkExper">
                      <textarea rows="3" class="weight620 WorkDetail" id="WorkDetail"  name="WorkDetail" placeholder="例如：负责XX项目..."></textarea>
                      <span class="btn_pic_del" ><a class="work_del" name="work_del" id="work_del" >删除</a></span> </div>
                  </div></td>
              </tr>
          
			</table>
          </div>
		  <else /> 
		  <volist name='Work' id='W'>
			<div  class="Work_add_1">
           <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
			<tr>
			  <td><span class="btn_all_del"  ><a name="btn_this_work" >删除这条工作经历</a></span></td>
			</tr>
			 </table>
               <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
                <tr>
                <td class="col_name">公&nbsp;&nbsp;&nbsp;&nbsp;司</td>
                <td colspan="2"><input type="text"  class="CompanyNOw" id="CompanyNOw" value="<{$W.company_name}>" maxlength="60" name="CompanyNOw" placeholder="例如：CICC"/></td>
                <td class="col_name">部门职位</td>
                <td colspan="2"><input type="text" class="DepartNow" id="DepartNow" value="<{$W.department_position}>" maxlength="60" name="DepartNow" placeholder="例如：投资银行部经理"/></td>
              </tr>
              <tr>
                <td class="col_name">薪&nbsp;&nbsp;&nbsp;&nbsp;酬</td>
                <td colspan="2"><select  name="NowPay" class="NowPay" id="NowPay">
                <OPTION VALUE=1  <if condition='$W.pay eq 1'> selected</if> >5万以下</OPTION>
                <OPTION VALUE=2 <if condition='$W.pay eq 2'> selected</if> >5～6万</OPTION>
                <OPTION VALUE=3 <if condition='$W.pay eq 3'> selected</if> >5～8万</OPTION>
                <OPTION VALUE=4 <if condition='$W.pay eq 4'> selected</if> >8～10万</OPTION>
                <OPTION VALUE=5  <if condition='$W.pay eq 5'> selected</if> >10～15万</OPTION>
                <OPTION VALUE=6  <if condition='$W.pay eq 6'> selected</if> >15～20万</OPTION>
                <OPTION VALUE=7  <if condition='$W.pay eq 7'> selected</if> >20～30万</OPTION>
                <OPTION VALUE=8  <if condition='$W.pay eq 8'> selected</if> >30～50万</OPTION>
              </select></td>
                <td class="col_name">工作时间</td>
                <td colspan="2"><input type="text" class="WorkTimeNow" id="WorkTimeNow" value="<{$W.work_time}>" maxlength="60" name="WorkTimeNow" placeholder="例如：2013.01-至今"/></td>
              </tr> 
             
                
              <tr>
                <td colspan="9" class="col_name" style="text-align:left;"> 工作内容<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="Work_add"  >添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_work">
					<volist name='W.working_content' id='content'>
                    <div class="WorkExper">
                      <textarea rows="3" class="weight620 WorkDetail" id="WorkDetail"  name="WorkDetail" placeholder="例如：负责XX项目..."><{$content}></textarea>
                      <span class="btn_pic_del" ><a class="work_del" name="work_del" id="work_del" >删除</a></span> </div>
					</volist>
                  </div></td>
              </tr>
          
			</table>
          </div>

		  </volist>
		  </empty>


      </div>
          <div class="btn_add_edu" ><span class="btn_edu_span"><a class="morework_add" >增加工作经历</a></span><input class="btn_pic" type="button"  name="save" id="saveedu" onclick="submitWorkInfo();"  value="保存" />
             </div> 
      
      <!--Work end--> 
      
     <!--OtherWork start-->
      <table border="0" cellspacing="0" cellpadding="0" class="paragraph_title paragraph_title_mdf">
        <tr>
          <td><span class="Bpispan_l" ></span>其他经历和个人能力<a name="OTHERWORK" id="OTHERWORK" ></a><span class="Bpispan_r" style=" width:280px;"></span></td>
          
        </tr>
      </table>

       
        <div class="OtherWork_edit">
          <div class="OtherWork_add_1">
           
               <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left;">
               
              <tr>
                <td colspan="9" class="col_name" style="text-align:left;"> 其他经历<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="OtherWork_add">添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_otherwork" >

					<empty name="Other.experiences">
                    <div class="OtherWorkExper">
                      <textarea rows="3" class="weight620 OtherWorkDetail" id="OtherWorkDetail"  name="OtherWorkDetail" placeholder="例如：某NG3年以上工作经历..."></textarea>
                      <span class="btn_pic_del" ><a class="otherwork_del" name="otherwork_del">删除</a></span> </div>
					<else /> 
					<volist name='Other.experiences' id='o'>
						<div class="OtherWorkExper">
                      <textarea rows="3" class="weight620 OtherWorkDetail" id="OtherWorkDetail"  name="OtherWorkDetail" placeholder="例如：某NG3年以上工作经历..."><{$o}></textarea>
                      <span class="btn_pic_del" ><a class="otherwork_del" name="otherwork_del">删除</a></span> </div>
					</volist>
					</empty>

                  </div></td>
              </tr>
              <tr>
                <td colspan="9" class="col_name" style="text-align:left;"> 其他个人能力<span class="btn_pic_add" style="float:right;margin-top:5px;"><a class="OtherAbi_add"  >添加</a></span></td>
              </tr>
              <tr>
                <td colspan="9"><div class="del_otherability" >
					<empty name="Other.ability">
                    <div class="OtherAbility">
                      <textarea rows="3" class="weight620 PersonalAbi" id="PersonalAbi"  name="PersonalAbi" placeholder="例如：精通红酒评鉴..."></textarea>
                      <span class="btn_pic_del" ><a class="otherability_del" name="otherability_del" >删除</a></span> </div>
					<else /> 
					<volist name='Other.ability' id='a'>
						<div class="OtherAbility">
                      <textarea rows="3" class="weight620 PersonalAbi" id="PersonalAbi"  name="PersonalAbi" placeholder="例如：精通红酒评鉴..."><{$a}></textarea>
                      <span class="btn_pic_del" ><a class="otherability_del" name="otherability_del" >删除</a></span> </div>
					</volist>
					</empty>

                  </div></td>
              </tr>
           <tr><!--保存按钮-->
            <td colspan="5" align="left" style="text-align:right;"><input class="btn_pic" type="button" name="saveOtherWork" id="saveOtherWork" onclick="submitOtherWorkInfo();" style="cursor:pointer" value="保存" /></td>
          </tr>
          
</table>
          </div>
      </div>
  
      <!--OtherWork end--> 
   
  <div class="btn_preview" >
  <table border="0" cellspacing="0" cellpadding="0" class="weight780_mdf weight670" style="float:left; height:50px;">
  <tr>
  <td colspan="9"><span class="btn_preview_span" ><a href="Preview/" target="_blank" class="otherability_del" name="otherability_del" >简历预览</a></span> 
  </td>
  </tr>
  </table>
  </div>     
    
    </ul>
    <include file='Public/user_menu' />
    <div style="line-height:2px;height:2px;clear:both;background:#FFFFFF;">&nbsp;</div>
  </div>
  <!--foot-->
  <include file='Public/footer' />