<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>简历预览 | 求职者页面 | 点石成金</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<css href="__PUBLIC__/Css/core.css" />
<css href="__PUBLIC__/Css/style.css" />
<css href="__PUBLIC__/Css/cv.css" />
<css href="__PUBLIC__/Css/style.css" />
<css href="__PUBLIC__/Css/preview_cv_table.css" />

<js href='__PUBLIC__/Js/jquery-1.8.js' />
<js href='__PUBLIC__/Js/jquery.drag.js' />
<js href='__PUBLIC__/Js/fn.js' />
<js href='__PUBLIC__/Js/all.js' />

<!--<link href="http://localhost/dscj/Public/css/preview_cv_table.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/dscj/Public/css/core.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/dscj/Public/css/style.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/dscj/Public/css/cv.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="http://localhost/dscj/Public/js/jquery-1.8.2.js"></script>
<script language="javascript" src="http://localhost/dscj/Public/js/jquery.drag.js"></script>
<script language="javascript" src="http://localhost/dscj/Public/js/fn.js"></script>
<script language="javascript" src="http://localhost/dscj/Public/js/all.js"></script>-->

<!--[if lt IE 7]>
<script>var file_root = '/';</script>
<script type="text/javascript" src="/js/unitpngfix.js"></script>
<![endif]--><!--<script>
    	//数组最后一个为样式中默认的　#indexpage
    	var homeimgbg=['/img/hbg2.jpg','/img/hbg3.jpg','/img/hbg1.jpg'];
    </script>-->

</head>
<body id="index">
<div class="wrap_cv">
  <div class="header_wrap"  style="box-shadow:0 0 0;">
    <div class="head">
      <div class="logo_area">
        <h1 class="logo"><a href="#" class="txt">金点</a></h1>
      </div>
      <div class="menu_area">
        <ul class="menu_list">
          <li class=" "><!--添加类名 current 显示隐藏子菜单--> 
            <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">Next Idea</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- list列表-->
  <div class="cv_table" >
    <TABLE WIDTH="750" BORDER="0" CELLSPACING="0" CELLPADDING="0" CLASS="bar" ALIGN="CENTER">
      <TR>
        <TD CLASS="chosdfont" HEIGHT="25">&nbsp;&nbsp;&nbsp;&nbsp;简历预览</TD>
        <td width="200" ALIGN="Right">&nbsp;</td>
      </TR>
    </TABLE>
    <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="10" ALIGN="CENTER" WIDTH="750" CLASS="left">
      <TR>
        <TD WIDTH="130" VALIGN="TOP" style="border-left: 2px solid #f9d259;border-right: 2px solid #f9d259;">
          <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="120">
            <TR>
              <TD WIDTH="140">
                <TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3" WIDTH="100%">
                   <TR>
                    <TD colspan="3" class="box_4_2_mm"><DIV class="menulist_2">
                        <UL class="left_list">
                          <LI><A class="menulist_select" HREF="#1">个人信息</A></LI>
                          <LI><A class="menulist_select" HREF="#2">求职意向</A></LI>
                          <LI><A class="menulist_select" HREF="#3">教育背景</A></LI>
                          <LI><A class="menulist_select" HREF="#4">工作实习经历</A></LI>
                          <LI><A class="menulist_select" HREF="#5">其他经历和个人能力</A></LI>
                         </UL>
                      </DIV></TD>
                  </TR>
                </TABLE></TD>
            </TR>
          </TABLE></TD>
        <TD VALIGN="TOP" BGCOLOR="#FFFFFF">

          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="3"><a name="1"></a>个人信息</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">姓名： </td>
              <td class="color17" colspan="2">李琳</td>
              <td rowspan="4" align="center"><a href="http://seekersso.chinahr.com/photos/GetImg.aspx?UserId=21401995" target="_blank"><img src="/rec2014/images/cv_img.jpg" alt="" width="90" border="0"></a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">性别： </td>
              <td class="color17" colspan="2">女</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">常用邮箱： </td>
              <td class="color17" colspan="2">dianshichengj@dscj.com</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">手机： </td>
              <td class="color17" colspan="2">18888888888</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">地址： </td>
              <td class="color17" colspan="3">朝阳区阜通东大街</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">目前工作单位： </td>
              <td class="color17" colspan="3">清波资产</td>
              </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">部门： </td>
              <td class="color17" colspan="1">研究部</td>
              <td width="145" height="28" align="right">职位： </td>
              <td class="color17" colspan="1">分析师</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作年限： </td>
              <td class="color17" colspan="1">三年</td>
              <td width="145" height="28" align="right">职级： </td>
              <td class="color17" colspan="1">高级经理</td>
            </tr>
           
          </table>
          <table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="1"><a name="2"></a>求职意向</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr  bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">目前求职状态</td>
              <td class="color17" colspan="3" style="word-break:break-all">接受职位邀请</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作地点偏好： </td>
              <td class="color17" colspan="3">北京、上海、天津</td>
              </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">期望年薪： </td>
              <td class="color17" colspan="3">不低于40万</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作环境： </td>
              <td class="color17" colspan="3" style="word-break:break-all">可以接受压力较大的工作环境</td>
            </tr>
             <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">求职方向： </td>
              <td style="word-break:break-all"><strong>公司金融服务：</strong><br>
            股权|债券|并购|ECM|DCM<br>
           <strong>一级市场投资分析：</strong><br>
            PE|VC|信托|其他投资机构<br>
            <strong>二级市场研究、交易、投资</strong><br>
            卖方研究|公募基金|私募基金|信托|资管|券商自营|银行金融市场|其他投资机构<br>
            <strong>券商销售</strong><br>
            股票|债券|外汇|商品|量化<br></td>
            </tr>
          </table>
          <table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="3"><a name="3"></a>教育背景</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
             <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">学校： </td>
              <td class="color17" colspan="1">上海交通大学</td>
              <td width="145" height="28" align="right">院系： </td>
              <td class="color17" colspan="1">金融学院</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">学历： </td>
              <td class="color17" colspan="1">三年</td>
              <td width="145" height="28" align="right">在校时间： </td>
              <td class="color17" colspan="1">2011.09-2013.06</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">所获荣誉奖励： </td>
              <td style="word-break:break-all" colspan="3">
            2011-2013全额奖学金<br>
            2011-2013全额奖学金<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他在校经历： </td>
              <td style="word-break:break-all" colspan="3">
            2011-2013，学生会文艺部长<br>
            2011-2013年，学生会办公室副主任<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="10" colspan="4"></td>
           </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">学校： </td>
              <td class="color17" colspan="1">上海交通大学</td>
              <td width="145" height="28" align="right">院系： </td>
              <td class="color17" colspan="1">金融学院</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">学历： </td>
              <td class="color17" colspan="1">三年</td>
              <td width="145" height="28" align="right">在校时间： </td>
              <td class="color17" colspan="1">2011.09-2013.06</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">所获荣誉奖励： </td>
              <td style="word-break:break-all" colspan="3">
            2011-2013全额奖学金<br>
            2011-2013全额奖学金<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他在校经历： </td>
              <td style="word-break:break-all" colspan="3">
            2011-2013，学生会文艺部长<br>
            2011-2013年，学生会办公室副主任<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="10" colspan="4"></td>
              
            </tr>
            
          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="3"><a name="4"></a>工作实习经历</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">公司： </td>
              <td class="color17" colspan="1">CICC</td>
              <td width="145" height="28" align="right">部门职位： </td>
              <td class="color17" colspan="1">投资银行部经理</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">薪酬： </td>
              <td class="color17" colspan="1">50万</td>
              <td width="145" height="28" align="right">工作时间： </td>
              <td class="color17" colspan="1">2013.01-至今</td>
            </tr>
           <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作内容： </td>
              <td style="word-break:break-all" colspan="3">
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="10" colspan="4"></td>
           </tr>
           <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">公司： </td>
              <td class="color17" colspan="1">CICC</td>
              <td width="145" height="28" align="right">部门职位： </td>
              <td class="color17" colspan="1">投资银行部经理</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">薪酬： </td>
              <td class="color17" colspan="1">50万</td>
              <td width="145" height="28" align="right">工作时间： </td>
              <td class="color17" colspan="1">2013.01-至今</td>
            </tr>
           <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作内容： </td>
              <td style="word-break:break-all" colspan="3">
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="10" colspan="4"></td>
           </tr>
          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="1"><a name="5"></a>其他经历和个人能力</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他经历： </td>
              <td style="word-break:break-all" colspan="3">
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他个人能力： </td>
              <td style="word-break:break-all" colspan="3">
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            负责XX项目。。。<br>
            </td>
            </tr>
          </table>
       
      </TR>
    </TABLE>
  </div>
  
  <!--foot-->
  <div class="footer">
    <div class="block">
      <div class="Lcontent">
        <dl>
          <dt>
            <h3>合作伙伴</h3>
          </dt>
          <dd>
            <p style="display:none;"><a href="http://www.weather.com.cn/wzfw/gywm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/lxwm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/sybz/">帮助</a><a href="http://www.weather.com.cn/wzfw/ryzp/">合作伙伴</a></p>
          </dd>
        </dl>
        <div class="clear"></div>
      </div>
      <div class="serviceinfo">
        <p><span><a href="#">清波科技有限公司</a></span></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--foot-->
  
  <div class="footer_wrap">
    <div class="links"> <a target="blank" href="#">关于金点</a> <span>|</span> <a target="blank" href="#">服务条款</a> <span>|</span> <a target="blank" href="#">广告服务</a> <span>|</span> <a target="blank" href="#">联系方式</a> <span>|</span> <a target="blank" href="#">加入我们</a> </div>
    <div class="copyright">Copyright &copy; 1998 - 2014 #. All Rights Reserved.</div>
  </div>
  <script type="text/javascript">
	    if(typeof(pgvMain)=='function')
	        pgvMain();
    </script></div>
</body>
</html>