<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>简历预览 | 求职者页面 | 点石成金</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<css href="__PUBLIC__/Css/core.css" />
<css href="__PUBLIC__/Css/style.css" />
<css href="__PUBLIC__/Css/cv.css" />
<css href="__PUBLIC__/Css/style.css" />
<css href="__PUBLIC__/Css/preview_cv_table.css" />

<js href='__PUBLIC__/Js/jquery-1.8.js' />
<js href='__PUBLIC__/Js/jquery.drag.js' />
<js href='__PUBLIC__/Js/fn.js' />
<js href='__PUBLIC__/Js/all.js' />

<!--<link href="http://localhost/dscj/Public/css/preview_cv_table.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/dscj/Public/css/core.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/dscj/Public/css/style.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/dscj/Public/css/cv.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="http://localhost/dscj/Public/js/jquery-1.8.2.js"></script>
<script language="javascript" src="http://localhost/dscj/Public/js/jquery.drag.js"></script>
<script language="javascript" src="http://localhost/dscj/Public/js/fn.js"></script>
<script language="javascript" src="http://localhost/dscj/Public/js/all.js"></script>-->

<!--[if lt IE 7]>
<script>var file_root = '/';</script>
<script type="text/javascript" src="/js/unitpngfix.js"></script>
<![endif]--><!--<script>
    	//数组最后一个为样式中默认的　#indexpage
    	var homeimgbg=['/img/hbg2.jpg','/img/hbg3.jpg','/img/hbg1.jpg'];
    </script>-->

</head>
<body id="index">
<div class="wrap_cv">
  <div class="header_wrap"  style="box-shadow:0 0 0;">
    <div class="head">
      <div class="logo_area">
        <h1 class="logo"><a href="#" class="txt">金点</a></h1>
      </div>
      <div class="menu_area">
        <ul class="menu_list">
          <li class=" "><!--添加类名 current 显示隐藏子菜单--> 
            <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">点石成金</a></li>
                <li><a href="#">点石成金</a></li>
              </ul>
            </div>
          </li>
          <li> <a href="#" class="menu_item">点石成金</a>
            <div class="sub_menu">
              <ul class="sub_menu_list">
                <li><a href="#">Next Idea</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- list列表-->
  <div class="cv_table" >
    <TABLE WIDTH="750" BORDER="0" CELLSPACING="0" CELLPADDING="0" CLASS="bar" ALIGN="CENTER">
      <TR>
        <TD CLASS="chosdfont" HEIGHT="25">&nbsp;&nbsp;&nbsp;&nbsp;简历预览</TD>
        <td width="200" ALIGN="Right">&nbsp;</td>
      </TR>
    </TABLE>
    <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="10" ALIGN="CENTER" WIDTH="750" CLASS="left">
      <TR>
        <TD WIDTH="130" VALIGN="TOP" style="border-left: 2px solid #f9d259;border-right: 2px solid #f9d259;">
          <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="120">
            <TR>
              <TD WIDTH="140">
                <TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3" WIDTH="100%">
                   <TR>
                    <TD colspan="3" class="box_4_2_mm"><DIV class="menulist_2">
                        <UL class="left_list">
                          <LI><A class="menulist_select" HREF="#1">个人信息</A></LI>
                          <LI><A class="menulist_select" HREF="#2">求职意向</A></LI>
                          <LI><A class="menulist_select" HREF="#3">教育背景</A></LI>
                          <LI><A class="menulist_select" HREF="#4">工作实习经历</A></LI>
                          <LI><A class="menulist_select" HREF="#5">其他经历和个人能力</A></LI>
                         </UL>
                      </DIV></TD>
                  </TR>
                </TABLE></TD>
            </TR>
          </TABLE></TD>
        <TD VALIGN="TOP" BGCOLOR="#FFFFFF">

          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="3"><a name="1"></a>个人信息</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">姓名： </td>
              <td class="color17" colspan="2"><{$result.name}></td>
              <td rowspan="4" align="center"><a href="http://seekersso.chinahr.com/photos/GetImg.aspx?UserId=21401995" target="_blank"><img src="__ROOT__/Uploads/Photo/<{$result.photo}>" alt="" width="90" border="0"></a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">性别： </td>
              <td class="color17" colspan="2"><if condition='$result.sex eq 1'>男<else />女</if></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">常用邮箱： </td>
              <td class="color17" colspan="2"><{$result.email}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">手机： </td>
              <td class="color17" colspan="2"><{$result.phone}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">地址： </td>
              <td class="color17" colspan="3"><{$result.address}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">目前工作单位： </td>
              <td class="color17" colspan="3"><{$result.work_unit}></td>
              </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">部门： </td>
              <td class="color17" colspan="1"><{$result.department}></td>
              <td width="145" height="28" align="right">职位： </td>
              <td class="color17" colspan="1"><{$result.position}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作年限： </td>
              <td class="color17" colspan="1">
			  <switch name="result.work_time">
			  <case value="1">1年以下</case>
			  <case value="2">1～3年</case>
			  <case value="3">3～5年</case>
			  <case value="4">5～8年</case>
			  <case value="5">10～15年</case>
			  <case value="6">15～20年</case>
			  <case value="7">20年以上</case>
			  <default />毕业生
			  </switch>
			  </td>
              <td width="145" height="28" align="right">职级： </td>
              <td class="color17" colspan="1"><{$result.rank}></td>
            </tr>
           
          </table>
          <table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="1"><a name="2"></a>求职意向</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr  bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">目前求职状态</td>
              <td class="color17" colspan="3" style="word-break:break-all">
				<switch name="result.job_status">
				<case value="1">目前正在找工作</case>
				<case value="2">半年内无换工作的计划</case>
				<case value="3">1年内无换工作的计划</case>
				<case value="4">观望有好的机会再考虑</case>
				<case value="5">我暂时不想找工作</case>
				<default />default
				</switch>
				</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作地点偏好： </td>
              <td class="color17" colspan="3"><{$area[0]}> <{$area[1]}> <{$area[2]}></td>
              </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">期望年薪： </td>
              <td class="color17" colspan="3">
				<switch name="result.expected_salary">
				<case value="1">5万以下</case>
				<case value="2">5～6万</case>
				<case value="3">5～8万</case>
				<case value="4">8～10万</case>
				<case value="5">10～15万</case>
				<case value="6">15～20万</case>
				<case value="7">20～30万</case>
				<case value="8">30～50万</case>
				<default />default
				</switch>
				</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作环境： </td>
              <td class="color17" colspan="3" style="word-break:break-all"><{$result.work_environment}></td>
            </tr>
             <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">求职方向： </td>
              <td style="word-break:break-all"><strong>
			  <switch name="result.job_intension">
				<case value="1">公司金融服务</case>
				<case value="2">一级市场投资分析</case>
				<case value="3">二级市场研究、交易、投资</case>
				<case value="4">券商销售</case>
				<default />default
				</switch>
			  </strong><br>
            </tr>
          </table>
          <table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="3"><a name="3"></a>教育背景</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>

			<empty name="Education">
				<tr bgcolor="#F6F6F6">
				 <td width="145" height="10" colspan="4">暂无学校信息</td>
				</tr>
			<else /> 
			<volist name='Education' id='data'>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">学校： </td>
              <td class="color17" colspan="1"><{$data.school}></td>
              <td width="145" height="28" align="right">院系： </td>
              <td class="color17" colspan="1"><{$data.departme}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">学历： </td>
              <td class="color17" colspan="1"><{$data.education}></td>
              <td width="145" height="28" align="right">在校时间： </td>
              <td class="color17" colspan="1"><{$data.school_time}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">所获荣誉奖励： </td>
              <td style="word-break:break-all" colspan="3">
			  <empty name="data.school_awards">
				暂无
			  <else /> 
			  <volist name='data.school_awards' id='awards'>
			  <{$awards}><br>
			  </volist>
			  </empty>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他在校经历： </td>
              <td style="word-break:break-all" colspan="3">
			  <empty name="data.school_experiences">
				暂无
			  <else /> 
			  <volist name='data.school_experiences' id='experiences'>
			  <{$experiences}><br>
			  </volist>
			  </empty>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="10" colspan="4"></td>
              
            </tr>
            </volist>
			</empty>


          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="3"><a name="4"></a>工作实习经历</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>

			<empty name="Work">
				<tr bgcolor="#F6F6F6">
				 <td width="145" height="10" colspan="4">暂无工作经历</td>
				</tr>
			<else /> 
			<volist name='Work' id='W'>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">公司： </td>
              <td class="color17" colspan="1"><{$W.company_name}></td>
              <td width="145" height="28" align="right">部门职位： </td>
              <td class="color17" colspan="1"><{$W.department_position}></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">薪酬： </td>
              <td class="color17" colspan="1">
				<switch name="W.pay">
				<case value="1">5万以下</case>
				<case value="2">5～6万</case>
				<case value="3">5～8万</case>
				<case value="4">8～10万</case>
				<case value="5">10～15万</case>
				<case value="6">15～20万</case>
				<case value="7">20～30万</case>
				<case value="8">30～50万</case>
				<default />
				</switch>
				</td>
              <td width="145" height="28" align="right">工作时间： </td>
              <td class="color17" colspan="1"><{$W.work_time}></td>
            </tr>
           <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">工作内容： </td>
              <td style="word-break:break-all" colspan="3">
				<empty name="W.working_content">
				暂无
			  <else /> 
			  <volist name='W.working_content' id='content'>
			  <{$content}><br>
			  </volist>
			  </empty>
				</td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="10" colspan="4"></td>
           </tr>
           </volist>
			</empty>


          </table>
          <table class="main_table" width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="E1E1E1">
            <tr bgcolor="#f9d259">
              <td height="28" class="color13_a" colspan="1"><a name="5"></a>其他经历和个人能力</td>
              <td align="right" class="link" style="padding-right:10px"><a href="#">TOP</a></td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他经历： </td>
              <td style="word-break:break-all" colspan="3">
			  <empty name="Other.experiences">
				暂无
			  <else /> 
			  <volist name='Other.experiences' id='o'>
			  <{$o}><br>
			  </volist>
			  </empty>
            </td>
            </tr>
            <tr bgcolor="#F6F6F6">
              <td width="145" height="28" align="right">其他个人能力： </td>
              <td style="word-break:break-all" colspan="3">
			  <empty name="Other.ability">
				暂无
			  <else /> 
					<volist name='Other.ability' id='a'>
					<{$a}><br>
					</volist>
			  </empty>
            </td>
            </tr>
          </table>
       
      </TR>
    </TABLE>
  </div>
  
  <!--foot-->
  <div class="footer">
    <div class="block">
      <div class="Lcontent">
        <dl>
          <dt>
            <h3>合作伙伴</h3>
          </dt>
          <dd>
            <p style="display:none;"><a href="http://www.weather.com.cn/wzfw/gywm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/lxwm/">合作伙伴</a><a href="http://www.weather.com.cn/wzfw/sybz/">帮助</a><a href="http://www.weather.com.cn/wzfw/ryzp/">合作伙伴</a></p>
          </dd>
        </dl>
        <div class="clear"></div>
      </div>
      <div class="serviceinfo">
        <p><span><a href="#">清波科技有限公司</a></span></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <!--foot-->
  
  <div class="footer_wrap">
    <div class="links"> <a target="blank" href="#">关于金点</a> <span>|</span> <a target="blank" href="#">服务条款</a> <span>|</span> <a target="blank" href="#">广告服务</a> <span>|</span> <a target="blank" href="#">联系方式</a> <span>|</span> <a target="blank" href="#">加入我们</a> </div>
    <div class="copyright">Copyright &copy; 1998 - 2014 #. All Rights Reserved.</div>
  </div>
  <script type="text/javascript">
	    if(typeof(pgvMain)=='function')
	        pgvMain();
    </script></div>
</body>
</html>