<ul class="rew_conr rew_conr_mdf" id="contentHighSetLeft">
      <li class="big_btn_resume btn_resume_mdf" style="width:auto;margin-left:0">
        <div class="icon_width icon_width_mdf" style="margin-right:10px;"> <span class="text_red">&nbsp;&nbsp;></span> <a href="__CONTROLLER__/Index/#BPI">我的求职信息</a> </div>
      </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> <span class="text_red">&nbsp;&nbsp;*</span> <a href="__CONTROLLER__/Index/#BPI">个人基本信息</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Base_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Base_Incomplete" style="display:none;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="__CONTROLLER__/Index/#OTHER">求职意向</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Other_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Other_Incomplete" style="display:none;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="__CONTROLLER__/Index/#EDU">教育背景</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Edu_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Edu_Incomplete" style="display:none;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf"> &nbsp;&nbsp;&nbsp;&nbsp; <a href="__CONTROLLER__/Index/#WORK">工作实习经历</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Work_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Work_Incomplete" style="display:none;" /> </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a href="__CONTROLLER__/Index/#OTHERWORK">其他经历和个人能力</a> </div>
        <img src="__PUBLIC__/images/icon_need.gif" class="icon_need" align="absmiddle" id="Lan_Complete" style="display:none;"/> <img src="__PUBLIC__/images/icon_incomplete.gif" class="icon_need" align="absmiddle" id="Lan_Incomplete" style="display:none;" /> </li>
      <li class="big_btn_resume btn_resume_mdf" style="width:auto;margin-left:0">
        <div class="icon_width icon_width_mdf" style="margin-right:10px;"> <span class="text_red">&nbsp;&nbsp;></span> <a class="invite" href='__CONTROLLER__/Invite/type/1'>收到的面试邀请</a> </div>
      </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a class="untreated" href='__CONTROLLER__/Invite/type/2'>未处理的面试邀请(3)</a> </div>
      </li>
      <li class="btn_resume btn_resume_mdf">
        <div class="icon_width icon_width_mdf">&nbsp;&nbsp;&nbsp;&nbsp; <a class="past_invite" href='__CONTROLLER__/Invite/type/3'>过去的面试邀请(11)</a> </div>
      </li>
    </ul>